<form x-data @submit.prevent="$store.createModelForm.submit()" enctype="multipart/form-data">
  <div class="flex flex-col items-center justify-center">
    <div class="w-full">
      <label class="fieldset-label text-black">Name</label>
      <input
        type="text"
        class="input w-full"
        placeholder="Name"
        x-model="$store.createModelForm.name"
      />
    </div>
    <br />

    <div class="w-full">
      <label class="fieldset-label text-black">Age</label>
      <input
        type="number"
        min="18"
        class="input w-full"
        placeholder="18"
        x-model="$store.createModelForm.age"
      />
    </div>
    <br />

    <div class="w-full">
      <div class="flex">
        <label class="fieldset-label text-black">Type of Model</label>
        <div
          class="badge badge-neutral badge-xs ml-2 tooltip tooltip-right"
          data-tip="Select if you're not sure, select 'Based on a real person' which lets you upload photos and
      create a model based on a real person. 'Create a new AI influencer' is used to create a person
      that does not exist and is 100% artificial."
        >
          i
        </div>
      </div>
      <select class="select w-full" x-model="$store.createModelForm.type_model">
        <option value="" disabled selected>Pick a Type</option>
        {% for type_model in sidebar.create_model.type_model %}
        <option value="{{ type_model }}">{{ type_model }}</option>
        {% endfor %}
      </select>
    </div>
    <br />

    <div class="w-full hidden">
      <label class="fieldset-label text-black">Creativity vs Resemblance</label>
      <input
        type="range"
        min="1"
        max="50"
        value="1000"
        class="range range-neutral w-full"
        x-model="$store.createModelForm.creative"
      />
    </div>
    <br />

    <div class="w-full">
      <label class="fieldset-label text-black">Sex</label>
      <select class="select w-full" x-model="$store.createModelForm.sex">
        <option value="" disabled selected>Pick a Sex</option>
        {% for sex in sidebar.create_model.sex %}
        <option value="{{ sex }}">{{ sex | capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <br />

    <div class="w-full">
      <label class="fieldset-label text-black">Ethnicity</label>
      <select class="select w-full" x-model="$store.createModelForm.ethnicity">
        <option value="" disabled selected>Pick a Ethnicity</option>
        {% for ethnicity in sidebar.create_model.ethnicity %}
        <option value="{{ ethnicity }}">{{ ethnicity }}</option>
        {% endfor %}
      </select>
    </div>
    <br />

    <div class="w-full">
      <label class="fieldset-label text-black">Eye Color</label>
      <select class="select w-full" x-model="$store.createModelForm.eye_color">
        <option value="" disabled selected>Pick a Color</option>
        {% for color in sidebar.create_model.eye_color %}
        <option value="{{ color }}">{{ color | capitalize }}</option>
        {% endfor %}
      </select>
    </div>
    <br />

    <div class="w-full flex gap-2">
      <label class="fieldset-label text-black">Bald</label>
      <input type="checkbox" class="toggle toggle-neutral" x-model="$store.createModelForm.bald" />
    </div>
    <br />

    <div class="w-full">
      <div class="flex items-center ml-2">
        <label class="fieldset-label text-black">File Upload Input</label>
        <div
          class="badge badge-neutral badge-xs ml-2 tooltip"
          data-tip="Photo Upload Requirements:
      Minimum: Select at least 10 photos of yourself.
      For Higher Accuracy: Upload at least 20 photos
      
      Acceptable Photos:
      Recent photos of yourself (only you), including a mix of close-ups and full-body shots.
      Variety in backgrounds, angles, clothing, and facial expressions (e.g., smiling, neutral, sad, etc.).
      Ensure the photos are up to date, as your appearance may have changed over time.
      
      Unacceptable Photos:
      Screenshots from social media (e.g., Instagram).
      Photos with hats, sunglasses, heavy makeup, or filters.
      Group photos, other people, or animals.
      Low-quality images, cropped faces, or photos where your face is not clearly visible.
      Outdated photos that no longer accurately represent your current appearance."
        >
          i
        </div>
      </div>
      <input
        type="file"
        class="file-input"
        multiple
        accept="image/jpeg,image/png"
        x-on:change="$store.createModelForm.handleFileSelection($event)"
      />
    </div>
    {#
    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            SVG, PNG, JPG or GIF (MAX. 800x400px)
          </p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" multiple />
      </label>
    </div>
    #}
    <br />

    <div class="w-full flex items-center gap-2">
      <input
        type="checkbox"
        class="checkbox checkbox-neutral"
        x-model="$store.createModelForm.consent"
      />
      <div
        class="group cursor-pointer"
        onclick="document.getElementById('model_consent').showModal()"
      >
        <!-- Open the modal using ID.showModal() method -->
        <a class="link link-primary">Consent Agreement For Creating a Model</a>
        <dialog id="model_consent" class="modal">
          <div class="modal-box">
            <p>
              Consent Agreement By creating a model you acknowledge and agree to the Terms of
              Service (TOS) and certify that you are either
            </p>
            <p>
              (i) creating a model of yourself and are at least 18 years old (or the legal age of
              majority in your jurisdiction) and are not a politically exposed person, or
            </p>
            <p>
              (ii) creating a model using another individual's likeness with their explicit written
              consent, confirming that they are at least 18 years old (or the legal age of majority
              in their jurisdiction) and are not a politically exposed person.
            </p>
            <p>
              You further acknowledge that any misrepresentation or failure to obtain the necessary
              consent constitutes a material breach of this agreement and may result in legal
              liability. By proceeding, you affirm that you have read, understood, and agree to
              these terms.
            </p>
          </div>
          <form method="dialog" class="modal-backdrop">
            <button type="button">Close</button>
          </form>
        </dialog>
      </div>
    </div>
    <br />

    <button type="submit" class="btn btn-neutral mt-4 w-full">Create Model</button>
  </div>
</form>
