<!-- prettier-ignore -->
{% set website_name = website.website_basic_info.name %} 
{% set website_site = website.website_basic_info.site | safe %}
{% set google_ott_link = website.website_routes.oauth2.google_ott | safe %}
{% set google_analytics_id = website.website_basic_info.google.google_analytics_id | safe %}
{% set google_client_id = website.website_basic_info.google.google_client_id | safe %}
{% set meta_pixel_id = website.website_basic_info.meta_pixel.meta_pixel_id | safe %}
{% set api_check_user_link = website.website_routes.auth_routes.api_check_user %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore AI-generated photo packs by J.A. Louisa in the AI Image Generation category. High-quality visuals available for just $9.99."
    />

    <title>
      {% block title %}{{ website_name | default(value= "ReplicaPixel") }}{% endblock title %}
    </title>

    <link rel="icon" href="/static/favicon.png" type="image/png" />
    <link href="/static/css/output.css" rel="stylesheet" type="text/css" />
    <link rel="sitemap" type="application/xml" href="/sitemap.xml" />

    <script src="/static/js/htmx/htmx.min.js" defer></script>
    <script src="/static/js/htmx/extensions/htmx-ext-form-json.js" defer></script>
    <script src="/static/js/htmx/extensions/htmx-ext-preload.js" defer></script>
    <script src="/static/js/index.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    {% block head %}{% endblock head %}

    <!-- Cookie Consent -->
    {% include "partials/cookie/consent.html" %}

    <!-- Javascript -->
    {% block js %} {% endblock js %}
    <script>
      // Apply theme on page load
      const userTheme = localStorage.getItem("theme");
      if (userTheme) {
        document.documentElement.setAttribute("data-theme", userTheme);
      }

      window.__APP_ENV__ = {
        hostname: location.hostname,
        apiBaseUrl: "{{ website_site }}",
        isLocal: location.hostname === "localhost" || location.hostname === "127.0.0.1",
      };

      // Theme toggle logic
      const themeToggle = document.querySelector(".theme-controller");

      if (themeToggle) {
        const currentTheme =
          localStorage.getItem("theme") || document.documentElement.getAttribute("data-theme");
        themeToggle.checked = currentTheme === "dark";
        document.documentElement.setAttribute("data-theme", currentTheme); // Ensure it's applied

        themeToggle.addEventListener("change", function () {
          const newTheme = this.checked ? "dark" : "light";
          document.documentElement.setAttribute("data-theme", newTheme);
          localStorage.setItem("theme", newTheme);
        });
      }
    </script>
    <style>
      body {
        font-family: "Inter", sans-serif;
      }

      @keyframes shine {
        0% {
          transform: translateX(-100%) skewX(-20deg);
          opacity: 0.6;
        }
        80% {
          opacity: 0.6;
        }
        100% {
          transform: translateX(100%) skewX(-20deg);
          opacity: 0;
        }
      }

      .animate-shine-active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        opacity: 0;
        transform: translateX(-100%) skewX(-20deg);
        animation: shine 1.2s ease-out;
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <!-- Main Layout Container -->
    <div id="app">
      {% block home %} {% block navbar %} {% endblock navbar %} {% block content %}{% endblock
      content %} {% endblock home %}
    </div>

    <!-- Toast Notifications -->
    <div
      x-data
      x-show="$store.toast.isVisible"
      x-transition:enter="transition transform ease-out duration-300"
      x-transition:enter-start="translate-y-full"
      x-transition:enter-end="translate-y-0"
      x-transition:leave="transition transform ease-in duration-300"
      x-transition:leave-start="translate-y-0"
      x-transition:leave-end="translate-y-full"
      x-cloak
      class="fixed bottom-5 right-5 px-4 py-2 rounded shadow-lg text-white"
      :class="$store.toast.isError ? 'bg-red-500' : $store.toast.isWarn ? 'bg-orange-500' : 'bg-green-700'"
    >
      <span x-text="$store.toast.message"></span>
    </div>

    {% if is_home %}
    <div
      id="google-login-init"
      hx-trigger="load once"
      hx-get="{{api_check_user_link}}"
      hx-swap="outerHTML"
    ></div>
    {% endif %}

    <!-- Javascript -->
    {% if not user %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
      // Google login logic
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: "{{google_client_id}}",
          callback: handleCredentialResponse,
          auto_select: false,
        });
        google.accounts.id.prompt();
      };

      async function handleCredentialResponse(response) {
        const res = await fetch("{{google_ott_link}}", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ token: response.credential }),
          credentials: "include",
        });

        const html = await res.text();
        window.htmx.swap("#home-cta-btn", html, { swapStyle: "outerHTML" });
      }
    </script>
    {% endif %}
  </body>
</html>
