<div>
  <div class="min-h-screen p-4 md:p-8">
    <div class="max-w-3xl mx-auto">
      <!-- Header -->
      <div class="mb-8">
        <h1 class="text-2xl font-semibold">Account Settings</h1>
        <p class="text-base-content/60">Manage your account settings and preferences</p>
      </div>

      <!-- Profile Section -->
      <div class="card bg-base-100 shadow mb-6">
        <div class="card-body">
          <h2 class="text-lg font-medium mb-4">Profile</h2>
          <div class="flex items-center gap-2 mb-6">
            {% if user.img %}
            <div class="avatar">
              <div class="w-24 rounded-full">
                <img
                  src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                />
              </div>
            </div>
            {% else %}
            <div
              class="flex items-center justify-center bg-neutral text-neutral-content w-24 h-24 rounded-full"
            >
              <span class="text-2xl font-medium"
                >{{ user.name | truncate(length=1, end="") | upper }}</span
              >
            </div>
            {% endif %}
            <div>
              <button class="btn btn-sm">Change photo</button>
              <p class="text-sm text-base-content/60 mt-1">JPG, GIF or PNG. 1MB max.</p>
            </div>
          </div>
          <!-- User Details (Definition List) -->
          <dl class="divide-y divide-base-200 pt-4">
            <!-- Divide items -->
            <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4">
              <!-- Grid layout for alignment -->
              <span class="text-sm font-medium text-base-content/70">Name: </span>
              <span class="mt-1 text-base text-base-content sm:col-span-2 sm:mt-0 font-semibold">
                {{ user.name }}
              </span>
            </div>
            <div class="py-3 sm:grid sm:grid-cols-3 sm:gap-4">
              <span class="text-sm font-medium text-base-content/70">Email: </span>
              <span class="mt-1 text-base text-base-content sm:col-span-2 sm:mt-0 font-semibold">
                {{ user.email }}
              </span>
            </div>
            <!-- Add more fields here following the same pattern -->
          </dl>
        </div>
      </div>

      {% if is_oauth %}
      <!-- Password Section -->
      {% include "dashboard/content/settings/partials/password_settings.html" %} {% endif %}

      <!-- Notifications Section -->
      <div class="card bg-base-100 shadow mb-6">
        <div class="card-body">
          <h2 class="text-lg font-medium mb-4">Settings</h2>
          <div class="p-6 space-y-6">
            <!-- Email Notifications -->
            {% include "dashboard/content/settings/partials/email_notification.html" %}

            <!-- Marketing Notifications -->
            {% include "dashboard/content/settings/partials/marketing_notification.html" %}

            <!-- Dark Mode -->
            {% include "dashboard/content/settings/partials/dark_mode.html" %}

            <!-- Language -->
            {% include "dashboard/content/settings/partials/language.html" %}

            <!-- Privacy -->
            <a
              href="{{ website.website_routes.policy.privacy | safe }}"
              target="_blank"
              class="px-4 pb-4 pt-2"
            >
              <div class="flex items-center gap-3 p-4 bg-base-200 rounded-lg">
                {% include "partials/svg/shield-check.html" %}
                <div>
                  <h2 class="font-medium">Privacy Policy</h2>
                  <p class="text-sm text-base-content/70">Read our privacy policy and terms</p>
                </div>
              </div>
            </a>

            <!-- Terms and Conditions -->
            <a href="{{ website.website_routes.policy.terms | safe }}" target="_blank" class="p-4">
              <div class="flex items-center gap-3 p-4 bg-base-200 rounded-lg">
                {% include "partials/svg/shield-user.html" %}
                <div>
                  <h2 class="font-medium">Terms Policy</h2>
                  <p class="text-sm text-base-content/70">Read our terms and conditions</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Delete Account Section -->
      <div class="card bg-base-100 shadow">
        <div class="card-body">
          <h2 class="text-lg font-medium text-error mb-2">Delete Account</h2>
          <p class="text-sm text-base-content/60 mb-4">
            Once you delete your account, there is no going back. Please be certain.
          </p>
          <button class="btn btn-error btn-outline">Delete your account</button>
        </div>
      </div>
    </div>
  </div>
</div>
