/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Inter-Medium.woff2") format("woff2");
}

 @font-face {
  font-family: "BricolageGrotesque";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/BricolageGrotesque-Medium.woff2") format("woff2");
} 

@font-face {
  font-family: "BricolageGrotesque";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@500&display=swap")
    format("woff2");
}

@font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@700&display=swap");
} */

/* @font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/BricolageGrotesque-Regular.ttf") format("truetype");
} */

 @font-face {
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/BricolageGrotesque-Medium.woff2") format("woff2");
} 

@font-face {
  font-family: "Gellix";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Gellix-Medium.woff2") format("woff2");
}

/* 2. IMPORT TAILWIND AFTER @font-face */
@import "tailwindcss";

/* 3. CONFIGURE THEME */
@theme {
  --font-inter: 'Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
  --font-bricon: '"Bricolage Grotesque"',
  --font-gellix: 'Gellix, ui-sans-serif, system-ui, sans-serif',

  --color-p: #605dff;
  --color-w: #ffffff;
  --color-bg-web: #191e24;

  --color-grn-from: #605DFF;
  --color-grn-to: #F43098;

  --brand-gradient: linear-gradient(90deg, rgba(96, 93, 255, 1) 0%, rgba(244, 48, 152, 1) 100%);
  }

  /* Color
  --heading-white: theme(colors.white);
  --body-text: theme(colors.gray.300);
  --muted-text: theme(colors.gray.400);
  --badge-text: theme(colors.gray.200);
  --star-yellow: theme(colors.yellow.400);
  --spacing-128: 32rem; */


/* 4. SOURCE (if needed) */
@source "../assets/views";

/* 5. PLUGINS */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
