<div class="bg-white/3 pt-6 flex flex-col gap-2 items-center justify-center">
  <div class="text-white text-center font-bricon text-lg font-normal relative self-stretch">
    Helping creators &amp; businesses everywhere work easier
  </div>
  <div class="shrink-0 relative">
    <div class="overflow-hidden w-full py-6">
      <div class="whitespace-nowrap animate-scroll-loop flex gap-4">
        {% include "home/sections/partials/business_partials.html" %} {% include
        "home/sections/partials/business_partials.html" %} {% include
        "home/sections/partials/business_partials.html" %}
      </div>
    </div>
  </div>
  <style>
    @keyframes scroll-loop {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .animate-scroll-loop {
      animation: scroll-loop 300s linear infinite;
    }
  </style>
</div>
