<section id="features" class="flex flex-col gap-8 my-28 max-w-7xl mx-auto z-8">
  <div class="flex flex-col gap-4 items-center justify-center">
    <div class="p-2 flex flex-row gap-2 items-center justify-center">
      {% include "partials/svg/triple_stars.html" %}
      <div class="text-w text-center text-sm flex items-center justify-center">Ai-Comparison</div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="text-w text-center font-bricon text-5xl font-medium">
        Why {{website_name}} Outperforms
      </div>
      <div class="text-w text-center text-lg">
        Precision AI Photography
        <br class="sm:hidden" />
        with unmatched quality and realism
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-6 overflow-hidden z-8">
    <div class="flex flex-col sm:flex-row gap-6 items-center justify-center w-full px-0 sm:px-2">
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          <div class="avatar">
            <div class="ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2">
              <img
                src="https://replicapixel-web.s3.eu-central-1.amazonaws.com/others/dalle.webp"
                alt="DALL·E 3 logo"
              />
            </div>
          </div>
          <span class="text-lg font-semibold">DALL·E 3</span>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div>{% include "partials/svg/x.html" %}</div>
            <span>No Face Training</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>Detailed Images</span>
          </div>
        </div>
      </div>
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          {#
          <div class="avatar">
            <div class="ring-2 ring-offset-base-100 w-8 rounded-full ring-offset-2 p-1">
              {% include "partials/svg/logo.html" %}
            </div>
          </div>
          #}
          <span class="shrink-0 w-8 h-8 relative">{% include "partials/svg/logo.html" %}</span>
          <span class="text-lg font-semibold">{{website_name}}</span>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>Your Face AI</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>Perfect Realism</span>
          </div>
        </div>
      </div>
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          <div class="avatar">
            <div class="ring-2 ring-offset-base-100 w-8 rounded-full ring-offset-2">
              <img src="https://avatars.githubusercontent.com/u/61396273?s=200&v=4" />
            </div>
          </div>
          <span class="text-lg font-semibold">Midjourney</span>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div>{% include "partials/svg/x.html" %}</div>
            <span>Generic Likeness</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>Artistic AI</span>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 w-full">
      <table class="table w-full">
        <!-- head -->
        <thead class="bg-white/5">
          <tr>
            <th class="p-6 w-1/2 text-lg font-semibold text-w">Features</th>
            <th class="p-6 text-lg font-semibold text-w">DALL·E</th>
            <th class="p-6 text-lg font-semibold text-w">{{website_name}}</th>
            <th class="p-6 text-lg font-semibold text-w">Midjourney</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-6 text-lg">Primary Use Case</td>
            <td class="p-6 text-lg text-w">General Images</td>
            <td class="text-success p-6 text-lg">Your AI Twin</td>
            <td class="p-6 text-lg text-w">Artistic Images</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Character Consistency</td>
            <td class="p-6 text-lg text-w">Face Varies</td>
            <td class="text-success p-6 text-lg">Always You</td>
            <td class="p-6 text-lg text-w">Face Changes</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Photorealism</td>
            <td class="p-6 text-lg text-w">Very Real</td>
            <td class="text-success p-6 text-lg">Flawless Realism</td>
            <td class="p-6 text-lg text-w">Super Real</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Photorealism</td>
            <td class="p-6 text-lg text-w">Okay Likeness</td>
            <td class="text-success p-6 text-lg">Perfect You</td>
            <td class="p-6 text-lg text-w">Good Likeness</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Image Detail & Clarity</td>
            <td class="p-6 text-lg text-w">High Detail</td>
            <td class="text-success p-6 text-lg">Ultra Clear</td>
            <td class="p-6 text-lg text-w">Great Detail</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Training on Specific Individuals</td>
            <td class="p-6 text-lg text-w">No Training</td>
            <td class="text-success p-6 text-lg">Your Training</td>
            <td class="p-6 text-lg text-w">No Training</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Ease of Achieving Specific Likeness</td>
            <td class="p-6 text-lg text-w">Likeness Hard</td>
            <td class="text-success p-6 text-lg">Easy Likeness</td>
            <td class="p-6 text-lg text-w">Likeness Hard</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">Video Generation</td>
            <td class="p-6 text-lg text-w">No Video</td>
            <td class="text-success p-6 text-lg">Video Ready</td>
            <td class="p-6 text-lg text-w">No Video</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
