<section id="features" class="flex flex-col gap-8 my-28 max-w-7xl mx-auto z-8 text-w">
  <div class="flex flex-col gap-4 items-center justify-center">
    <div class="p-2 flex flex-row gap-2 items-center justify-center">
      {% include "partials/svg/triple_stars.html" %}
      <div class="text-center text-sm flex items-center justify-center">
        {{ t(key="features-ai-comparison-badge", lang=lang) }}
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="text-center font-bricon text-5xl font-medium">
        Why {{website_name}} Outperforms
      </div>
      <div class="text-center text-lg">
        {{ t(key="features-subtitle-line-1", lang=lang) }}
        <br class="sm:hidden" />
        {{ t(key="features-subtitle-line-2", lang=lang) }}
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-6 overflow-hidden z-8">
    <div class="flex flex-col sm:flex-row gap-6 items-center justify-center w-full px-0 sm:px-2">
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          <div class="avatar">
            <div class="ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2">
              <img
                src="https://replicapixel-web.s3.eu-central-1.amazonaws.com/others/dalle.webp"
                alt='{{ t(key="features-dalle-logo-alt", lang=lang) }}'
              />
            </div>
          </div>
          <span class="text-lg font-semibold">{{ t(key="features-dalle-title", lang=lang) }}</span>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div>{% include "partials/svg/x.html" %}</div>
            <span>{{ t(key="features-dalle-point-1", lang=lang) }}</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>{{ t(key="features-dalle-point-2", lang=lang) }}</span>
          </div>
        </div>
      </div>
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          <span class="shrink-0 w-8 h-8 relative">{% include "partials/svg/logo.html" %}</span>
          <span class="text-lg font-semibold">{{website_name}}</span>
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>{{ t(key="features-own-point-1", lang=lang) }}</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>{{ t(key="features-own-point-2", lang=lang) }}</span>
          </div>
        </div>
      </div>
      <div
        class="bg-white/5 rounded-lg border-solid border-white/13 border p-6 flex flex-col gap-6 items-start justify-center flex-1"
      >
        <div class="flex items-center justify-center gap-4">
          <div class="avatar">
            <div class="ring-2 ring-offset-base-100 w-8 rounded-full ring-offset-2">
              <img src="https://avatars.githubusercontent.com/u/61396273?s=200&v=4" />
            </div>
          </div>
          <span class="text-lg font-semibold"
            >{{ t(key="features-midjourney-title", lang=lang) }}</span
          >
        </div>
        <div class="flex flex-col gap-2">
          <div class="flex items-center justify-start gap-2">
            <div>{% include "partials/svg/x.html" %}</div>
            <span>{{ t(key="features-midjourney-point-1", lang=lang) }}</span>
          </div>
          <div class="flex items-center justify-start gap-2">
            <div class="text-green-500">{% include "partials/svg/check_circle.html" %}</div>
            <span>{{ t(key="features-midjourney-point-2", lang=lang) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-dark-base w-full">
      <table class="table w-full">
        <!-- head -->
        <thead class="bg-white/5">
          <tr>
            <th class="p-6 w-1/2 text-lg font-semibold text-w">
              {{ t(key="features-table-header-features", lang=lang) }}
            </th>
            <th class="p-6 text-lg font-semibold text-w">
              {{ t(key="features-table-header-dalle", lang=lang) }}
            </th>
            <th class="p-6 text-lg font-semibold text-w">{{website_name}}</th>
            <th class="p-6 text-lg font-semibold text-w">
              {{ t(key="features-table-header-midjourney", lang=lang) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-use-case-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-use-case-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-use-case-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">
              {{ t(key="features-table-use-case-midjourney", lang=lang) }}
            </td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-consistency-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-consistency-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-consistency-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">
              {{ t(key="features-table-consistency-midjourney", lang=lang) }}
            </td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-photorealism-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-photorealism-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-photorealism-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">
              {{ t(key="features-table-photorealism-midjourney", lang=lang) }}
            </td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-likeness-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-likeness-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-likeness-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">
              {{ t(key="features-table-likeness-midjourney", lang=lang) }}
            </td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-clarity-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-clarity-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-clarity-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">{{ t(key="features-table-clarity-midjourney", lang=lang) }}</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-training-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-training-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-training-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">
              {{ t(key="features-table-training-midjourney", lang=lang) }}
            </td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-ease-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-ease-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-ease-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">{{ t(key="features-table-ease-midjourney", lang=lang) }}</td>
          </tr>
          <tr>
            <td class="p-6 text-lg">{{ t(key="features-table-video-label", lang=lang) }}</td>
            <td class="p-6 text-lg">{{ t(key="features-table-video-dalle", lang=lang) }}</td>
            <td class="text-success p-6 text-lg">
              {{ t(key="features-table-video-own", lang=lang) }}
            </td>
            <td class="p-6 text-lg">{{ t(key="features-table-video-midjourney", lang=lang) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
