{% set web_creators = web_images.creators %}

<div class="flex flex-col gap-12 items-center max-w-7xl mx-auto my-8">
  <div class="flex flex-col items-center z-2">
    <div class="text-center font-bricon text-2xl lg:text-5xl font-semibold">
      <span class="replica-pixel-creators-span">#</span>
      <span class="replica-pixel-creators-span2"> ReplicaPixelCreators </span>
    </div>
  </div>

  <div
    class="flex flex-row gap-2 md:gap-4 items-center justify-center md:justify-evenly self-stretch h-96 relative"
  >
    <!-- Glow Background Effect -->
    <div
      class="absolute z-1 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full w-[1000px] h-[1000px] pointer-events-none"
      style="
        background: radial-gradient(
          circle,
          rgba(244, 48, 152, 0.25) 0%,
          rgba(96, 93, 255, 0.2) 100%
        );
        filter: blur(300px);
      "
    ></div>
    {% for creator_link in web_creators %}
    <div class="rounded-lg flex flex-col self-stretch flex-1 overflow-hidden max-w-80 z-2">
      <img
        class="self-stretch flex-1 object-cover"
        src="{{creator_link | safe}}"
        alt="Creator example {{loop.index}}"
      />
    </div>
    {% endfor %}
    <div
      class="bg-white rounded-full p-4 flex items-center justify-center gap-4 h-14 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-4"
    >
      <div
        class="font-sans text-base leading-none font-normal"
        style="
          background: linear-gradient(90deg, rgba(96, 93, 255, 1) 11%, rgba(244, 48, 152, 1) 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          letter-spacing: -0.01em;
        "
      >
        <span>
          <span class="label-span">Follow</span>
          <span class="label-span2">@ReplicaPixel</span>
        </span>
      </div>
      {% include "partials/svg/triple_stars_color.html" %}
    </div>
  </div>
</div>
