<div class="flex flex-col gap-12 items-center justify-start relative">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative">
    <div
      class="rounded-[99px] pt-1 pr-4 pb-1 pl-2.5 flex flex-row gap-2 items-center justify-start shrink-0 relative"
    >
      <img class="shrink-0 w-[17px] h-4 relative overflow-visible" src="icon-container0.svg" />
      <div
        class="text-w text-center font-['Inter-Regular',_sans-serif] text-sm leading-none font-normal relative flex items-center justify-center"
      >
        Ai Studio
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
      <div
        class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-5xl leading-[120%] font-medium relative w-[1062px]"
      >
        What Creators Are Saying
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[160%] font-normal relative"
      >
        Studio-quality AI photos with perfect likeness every time.
      </div>
    </div>
  </div>
  <div class="self-stretch shrink-0 h-[564px] relative">
    <div class="flex flex-row gap-5 items-center justify-start absolute left-40 top-0">
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80270.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              AI hiring tools have completely transformed our process, enabling us to find top
              candidates in a fraction of the time.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4880.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Devon Lane
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CEO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group0.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] h-[270px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80271.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              Using AI in our recruitment has significantly improved efficiency, and allowed us to
              source talent globally.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4881.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Annette Black
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CTO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group1.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] h-[270px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80272.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              AI has helped us reduce hiring costs while ensuring we consistently hire the best
              candidates.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4882.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Eleanor Pena
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CFO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group2.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] h-[270px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80273.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              AI has helped us reduce hiring costs while ensuring we consistently hire the best
              candidates.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4883.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Eleanor Pena
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CFO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group3.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] h-[270px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80274.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Poppins-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              AI has helped us reduce hiring costs while ensuring we consistently hire the best
              candidates.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4884.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Eleanor Pena
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CFO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group4.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-5 items-center justify-start absolute left-0 top-[294px]">
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80260.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Poppins-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              Using AI in our recruitment has significantly improved efficiency, minimized bias, and
              allowed us to source talent globally.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4885.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Jenny Wilson
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative"
                >
                  Doctor
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group5.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] h-[270px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80261.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              AI has made our hiring process seamless and efficient, identifying the best candidates
              quickly and accurately.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4886.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Cameron Williamson
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  COO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group6.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80275.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              Using AI in our recruitment has significantly improved efficiency, minimized bias, and
              allowed us to source talent globally.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4887.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Kathryn Murphy
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CEO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group7.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80276.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              Using AI in our recruitment has significantly improved efficiency, minimized bias, and
              allowed us to source talent globally.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4888.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Kathryn Murphy
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CEO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group8.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center shrink-0 w-[386px] relative"
      >
        <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
          <img
            class="flex flex-row gap-2.5 items-start justify-start shrink-0 h-[auto] relative overflow-visible"
            src="frame-80277.svg"
          />
          <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
            <div
              class="text-background-disabled-0 text-left font-['Inter-Medium',_sans-serif] text-base leading-[160%] font-medium relative w-[331px]"
            >
              Using AI in our recruitment has significantly improved efficiency, minimized bias, and
              allowed us to source talent globally.
            </div>
            <div class="flex flex-row gap-3 items-center justify-start shrink-0 relative">
              <img
                class="rounded-[50%] shrink-0 w-[52px] h-[53px] relative"
                style="object-fit: cover"
                src="ellipse-4889.png"
              />
              <div class="flex flex-col gap-2 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-['Gellix-Medium',_sans-serif] text-xl leading-none font-medium relative"
                >
                  Kathryn Murphy
                </div>
                <div
                  class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-none font-normal relative"
                >
                  CEO
                </div>
              </div>
            </div>
            <div class="shrink-0 w-6 h-6 absolute left-[307px] top-[139px] overflow-hidden">
              <img
                class="w-[97.66%] h-[85.45%] absolute right-[1.17%] left-[1.17%] bottom-[7.28%] top-[7.28%] overflow-visible"
                src="group9.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
