<div class="flex flex-col gap-12 items-center justify-start self-stretch shrink-0 relative">
  <div class="flex flex-col gap-3 items-center justify-start self-stretch shrink-0 relative">
    <div
      class="text-center font-['BricolageGrotesque-SemiBold',_sans-serif] text-5xl leading-[120%] font-semibold relative self-stretch"
    >
      <span>
        <span class="replica-pixe-i-creators-span">#</span>
        <span class="replica-pixe-i-creators-span2"> ReplicaPixeICreators </span>
      </span>
    </div>
  </div>
  <div
    class="flex flex-row gap-[13px] items-start justify-start self-stretch shrink-0 h-[348px] relative"
  >
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image0.png"
      />
    </div>
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image1.png"
      />
    </div>
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image2.png"
      />
    </div>
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image3.png"
      />
    </div>
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image4.png"
      />
    </div>
    <div
      class="rounded-lg flex flex-col gap-6 items-start justify-center self-stretch flex-1 relative overflow-hidden"
    >
      <img
        class="rounded-lg self-stretch flex-1 relative"
        style="object-fit: cover"
        src="image5.png"
      />
    </div>
    <div
      class="bg-w rounded-[50px] pt-[18px] pr-4 pb-[18px] pl-6 flex flex-row gap-4 items-center justify-center shrink-0 h-14 absolute left-[50%] top-[146px]"
      style="translate: -50%"
    >
      <div
        class="text-center font-['-',_sans-serif] text-base leading-none font-normal relative flex items-center justify-center"
        style="
          background: linear-gradient(
            90deg,
            rgba(96, 93, 255, 1) 11.018333584070206%,
            rgba(244, 48, 152, 1) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          letter-spacing: -0.01em;
        "
      >
        <span>
          <span class="label-span">Follow @</span>
          <span class="label-span2">ReplicaPixeI</span>
        </span>
      </div>
      <img class="shrink-0 w-[17px] h-4 relative overflow-visible" src="icon-container0.svg" />
    </div>
  </div>
</div>
