<div
  class="bg-[rgba(0,0,0,0.29)] rounded-2xl pt-16 pr-[140px] pb-16 pl-[140px] flex flex-col gap-[39px] items-center justify-start relative overflow-hidden"
>
  <div class="shrink-0 w-[843.06px] h-[843.06px] static" style="opacity: 0.46">
    <div
      class="rounded-[50%] w-[637.24px] h-[637.24px] absolute left-[1049.85px] top-[275.87px]"
      style="
        background: linear-gradient(180deg, rgba(244, 48, 152, 1) 0%, rgba(96, 93, 255, 1) 100%);
        transform-origin: 0 0;
        transform: rotate(138.178deg) scale(1, 1);
        filter: blur(199.75px);
      "
    ></div>
    <div
      class="rounded-[50%] w-[466.27px] h-[466.27px] absolute left-[976.14px] top-[277.3px]"
      style="
        background: linear-gradient(
          180deg,
          rgba(244, 48, 152, 1) 0%,
          rgba(96, 93, 255, 1) 100%,
          rgba(112, 97, 163, 1) 100%
        );
        transform-origin: 0 0;
        transform: rotate(113.869deg) scale(1, 1);
        filter: blur(99.87px);
      "
    ></div>
  </div>
  <div class="flex flex-col gap-8 items-center justify-start shrink-0 relative">
    <div class="flex flex-col gap-3 items-center justify-start shrink-0 relative">
      <div
        class="rounded-[99px] pt-1 pr-4 pb-1 pl-2.5 flex flex-row gap-2 items-center justify-start shrink-0 relative"
      >
        <img class="shrink-0 w-[17px] h-4 relative overflow-visible" src="icon-container0.svg" />
        <div
          class="text-w text-center font-['Inter-Regular',_sans-serif] text-sm leading-none font-normal relative flex items-center justify-center"
        >
          Unleash Your Creativity with AI
        </div>
      </div>
      <div class="flex flex-col gap-4 items-center justify-start shrink-0 relative">
        <div
          class="text-w text-center font-['BricolageGrotesque-Bold',_sans-serif] text-[32px] leading-10 font-bold relative"
        >
          Get Started with ReplicaPixeI
        </div>
        <div
          class="text-gray-black-50 text-center font-['Inter-Regular',_sans-serif] text-base leading-[120%] font-normal relative w-[440px]"
        >
          Transform your selfies into stunning studio-quality photos in just a few clicks.
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3 items-center justify-start shrink-0 relative">
      <div
        class="bg-2nd-button rounded-[50px] pt-[18px] pr-4 pb-[18px] pl-6 flex flex-row gap-4 items-center justify-center shrink-0 h-14 relative"
      >
        <div
          class="text-w text-center font-['Inter-Medium',_sans-serif] text-base leading-none font-medium relative flex items-center justify-center"
          style="letter-spacing: -0.01em"
        >
          Try Free for 7 Days
        </div>
        <img class="shrink-0 w-[17px] h-4 relative overflow-visible" src="icon-container1.svg" />
      </div>
      <div class="shrink-0 w-[896px] h-5 relative">
        <img class="w-4 h-4 absolute left-[365px] top-[1.39px] overflow-visible" src="svg0.svg" />
        <div
          class="text-[#b0c4b4] text-center font-['Inter-Regular',_sans-serif] text-[12.25px] leading-5 font-normal absolute left-[calc(50%_-_67px)] top-0 w-[146.18px] h-5"
        >
          No credit card required
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start justify-start shrink-0 absolute left-[27.43px] top-[-164.95px]"
    style="transform-origin: 0 0; transform: rotate(8.374deg) scale(1, 1)"
  >
    <div class="flex flex-row gap-[7.93px] items-center justify-start shrink-0 w-[260px] relative">
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image0.png"
        />
      </div>
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image1.png"
        />
      </div>
    </div>
    <div class="flex flex-row gap-[7.93px] items-center justify-start shrink-0 w-[260px] relative">
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image2.png"
        />
      </div>
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image3.png"
        />
      </div>
    </div>
    <div class="flex flex-row gap-4 items-center justify-start shrink-0 relative">
      <div
        class="rounded-lg flex flex-col gap-6 items-start justify-center shrink-0 w-[122px] h-[167px] relative overflow-hidden"
        style="aspect-ratio: 122/167"
      >
        <img
          class="rounded-lg self-stretch flex-1 relative"
          style="object-fit: cover"
          src="image4.png"
        />
      </div>
      <div
        class="rounded-lg flex flex-col gap-6 items-start justify-center shrink-0 w-[122px] h-[167px] relative overflow-hidden"
        style="aspect-ratio: 122/167"
      >
        <img
          class="rounded-lg self-stretch flex-1 relative"
          style="object-fit: cover"
          src="image5.png"
        />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col gap-4 items-start justify-start shrink-0 absolute left-[1003.38px] top-[-174.75px]"
    style="transform-origin: 0 0; transform: rotate(7.701deg) scale(1, 1)"
  >
    <div class="flex flex-row gap-4 items-center justify-start shrink-0 relative">
      <div
        class="rounded-lg flex flex-col gap-6 items-start justify-center shrink-0 w-[122px] h-[167px] relative overflow-hidden"
        style="aspect-ratio: 122/167"
      >
        <img
          class="rounded-lg self-stretch flex-1 relative"
          style="object-fit: cover"
          src="image6.png"
        />
      </div>
      <div
        class="rounded-lg flex flex-col gap-6 items-start justify-center shrink-0 w-[122px] h-[167px] relative overflow-hidden"
        style="aspect-ratio: 122/167"
      >
        <img
          class="rounded-lg self-stretch flex-1 relative"
          style="object-fit: cover"
          src="image7.png"
        />
      </div>
    </div>
    <div class="flex flex-row gap-[7.93px] items-center justify-start shrink-0 w-[260px] relative">
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image8.png"
        />
      </div>
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image9.png"
        />
      </div>
    </div>
    <div class="flex flex-row gap-[7.93px] items-center justify-start shrink-0 w-[260px] relative">
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image10.png"
        />
      </div>
      <div
        class="rounded-[3.96px] flex flex-col gap-[11.89px] items-start justify-center flex-1 h-[172.45px] relative overflow-hidden"
      >
        <img
          class="rounded-[3.96px] shrink-0 w-[126.04px] h-[172.45px] relative"
          style="object-fit: cover; aspect-ratio: 126.04/172.45"
          src="image11.png"
        />
      </div>
    </div>
  </div>
</div>
