<div class="flex flex-col gap-4 items-center justify-center">
  <div
    class="bg-[rgba(255,255,255,0.06)] py-16 flex flex-col gap-2.5 items-center justify-center w-full relative overflow-hidden"
  >
    <div class="flex flex-col gap-[46px] items-center justify-center w-full max-w-7xl mx-auto px-4">
      <div class="flex flex-col gap-7 items-center justify-center self-stretch shrink-0 relative">
        <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
          <div class="flex flex-row gap-[100px] items-start justify-start flex-1 relative">
            <div class="flex flex-col gap-8 items-start justify-start shrink-0 relative">
              <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
                <div
                  class="flex flex-row gap-[8.53px] items-center justify-center shrink-0 relative"
                >
                  <img
                    class="shrink-0 w-8 h-8 relative"
                    style="object-fit: cover; aspect-ratio: 26.67/32.08"
                    src="../../../static/logo.svg"
                  />
                  <div
                    class="text-w text-center font-['BricolageGrotesque-SemiBold',_sans-serif] text-[21.33333396911621px] leading-none font-semibold relative"
                  >
                    ReplicaPixel
                  </div>
                </div>
                <div
                  class="text-gray-black-100 text-left font-['Inter-Regular',_sans-serif] text-base leading-[26px] font-normal relative w-[363px]"
                >
                  Transform your images with AI-powered precision. No skills required, just stunning
                  results.
                </div>
              </div>
              <div class="flex flex-row gap-5 items-center justify-start shrink-0 relative">
                <div
                  class="rounded-[26px] border-solid border-[transparent] border flex flex-row gap-2.5 items-center justify-start flex-wrap content-center shrink-0 relative"
                >
                  <div class="shrink-0 w-[18px] h-[18px] relative overflow-hidden">
                    {% include "partials/svg/socials/instagram.html" %}
                  </div>
                </div>
                <div
                  class="rounded-[26px] border-solid border-[transparent] border flex flex-row gap-2.5 items-center justify-start flex-wrap content-center shrink-0 relative"
                >
                  <div class="shrink-0 w-[18px] h-[18px] relative overflow-hidden">
                    {% include "partials/svg/socials/twitter.html" %}
                  </div>
                </div>
                <div
                  class="rounded-[26px] border-solid border-[transparent] border flex flex-row gap-2.5 items-center justify-start flex-wrap content-center shrink-0 relative"
                >
                  <div class="shrink-0 w-[18px] h-[18px] relative overflow-hidden">
                    {% include "partials/svg/socials/linkedin.html" %}
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-row items-start justify-between flex-1 relative">
              <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-brico text-[22px] font-bold relative self-stretch text-[brand-bg-dark]"
                >
                  Company
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Features
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Studio
                </div>
              </div>
              <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-brico text-[22px] font-bold relative self-stretch"
                >
                  Product
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Pricing
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Templates
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  API
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Apps
                </div>
              </div>
              <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-brico text-[22px] font-bold relative self-stretch"
                >
                  Resources
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Documentation
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Guides
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Blog
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Community
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Support
                </div>
              </div>
              <div class="flex flex-col gap-4 items-start justify-start shrink-0 relative">
                <div
                  class="text-w text-left font-brico text-[22px] font-bold relative self-stretch"
                >
                  Legal
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Privacy
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Terms
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Cookie Policy
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  GDPR
                </div>
                <div
                  class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative self-stretch"
                >
                  Licenses
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="border-solid border-[rgba(248,250,251,0.20)] border-t border-r-[0] border-b-[0] border-l-[0] self-stretch shrink-0 h-0 relative"
          style="margin-top: -1px; transform-origin: 0 0; transform: rotate(0deg) scale(1, 1)"
        ></div>
      </div>
      <div class="flex flex-row items-center justify-between self-stretch shrink-0 relative">
        <div
          class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative"
        >
          © 2025 {{ website.website_basic_info.name }}. All rights reserved.
        </div>
        <div class="flex flex-row gap-[38px] items-center justify-start shrink-0 relative">
          <div
            class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative"
          >
            Terms
          </div>
          <div
            class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative"
          >
            Privacy
          </div>
          <div
            class="text-gray-black-50 text-left font-inter text-base leading-[120%] font-normal relative"
          >
            Cookies
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
