<section
  class="flex flex-col gap-12 items-center justify-center w-full relative my-16 px-2 mx-auto"
>
  <div class="flex flex-col items-center justify-center self-stretch relative w-full">
    <div class="flex flex-row gap-2 lg:gap-4 items-center justify-center relative w-full">
      {% for _, image_list in gallery %} {% set current_column_index = loop.index0 %}
      <div
        class="{% if loop.first or loop.last %} hidden md:flex {% else %} flex {% endif %} flex-col gap-y-2 lg:gap-y-4 items-center justify-center w-full"
      >
        {% for image_url in image_list %} {% if current_column_index % 2 == loop.index0 % 2 %} {%
        set is_aspect = true %} {% else %} {% set is_aspect = false %} {% endif %}
        <div
          class="rounded-2xl z-2 duration-500 hover:scale-105 hover:shadow-xl flex flex-col items-center justify-center overflow-hidden"
        >
          <img
            class="rounded-md lg:rounded-lg self-stretch {% if is_aspect %}aspect-square{% else %}aspect-[2/3]{% endif %} {% if not loop.last %}flex-1{% endif %}"
            style="object-fit: cover"
            src="{{ image_url | safe }}"
            alt="Gallery image {{ loop.index }}"
          />
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div
      class="w-full h-[49.3125rem] z-4 absolute left-[50%] bottom-[-56.1775rem] -translate-x-1/2 origin-top-left rotate-0 scale-y-[-1]"
      style="background: linear-gradient(179.62deg, rgba(25, 30, 36, 1) 15%, rgba(9, 9, 11, 0) 51%)"
    ></div>
  </div>
</section>
