<div class="flex flex-col gap-12 items-center justify-center w-[1600px] relative my-16 mx-auto">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative">
    <div
      class="rounded-[99px] pt-1 pr-4 pb-1 pl-2.5 flex flex-row gap-2 items-center justify-start shrink-0 relative"
    >
      {% include "partials/svg/triple_stars.html" %}
      <div
        class="text-w text-center font-['Inter-Regular',_sans-serif] text-sm leading-none font-normal relative flex items-center justify-center"
      >
        Ai Studio
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
      <div
        class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-5xl leading-[110%] font-medium relative w-[1062px]"
      >
        The Ultimate AI Photo Studio
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[140%] font-normal relative"
      >
        Flawless, studio-quality AI photos every time.
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-0 items-center justify-start self-stretch shrink-0 relative">
    <div class="flex flex-row gap-6 items-center justify-start shrink-0 relative">
      <!-- Gallery Row 1 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[430px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
      </div>

      <!-- Gallery Row 2 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
      </div>

      <!-- Gallery Row 3 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[430px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
      </div>

      <!-- Gallery Row 4 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
      </div>
      <!-- Gallery Row 5 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[430px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
      </div>
      <!-- Gallery Row 6 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[400px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
      </div>
      <!-- Gallery Row 7 -->
      <div class="flex flex-col gap-[22px] items-start justify-start shrink-0 relative">
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[430px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[430px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[247px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch flex-1 relative"
            style="object-fit: cover"
            src="../../static/images/gallery_small.png"
          />
        </div>
        <div
          class="rounded-2xl flex flex-col gap-6 items-start justify-center shrink-0 w-[280px] h-[520px] relative overflow-hidden"
        >
          <img
            class="rounded-lg self-stretch shrink-0 h-[520px] relative"
            style="object-fit: cover"
            src="../../static/images/gallery_big.png"
          />
        </div>
      </div>
    </div>
    <div
      class="shrink-0 w-[1609px] h-[789px] absolute left-[50%] bottom-[-898.84px]"
      style="
        background: linear-gradient(
          179.62deg,
          rgba(25, 30, 36, 1) 15.26377648115158%,
          rgba(9, 9, 11, 0) 51.08548402786255%
        );
        translate: -50%;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(1, -1);
      "
    ></div>
  </div>
</div>
