<div
  class="bg-[rgba(255,255,255,0.02)] rounded-[100px] border-solid border-[rgba(248,250,251,0.10)] border pt-4 pr-8 pb-4 pl-8 flex flex-row items-center justify-between h-20 relative"
  style="backdrop-filter: blur(10px)"
>
  <div class="flex flex-row gap-[12.8px] items-center justify-center shrink-0 relative">
    <img
      class="shrink-0 w-10 h-12 relative"
      style="object-fit: cover; aspect-ratio: 40/48"
      src="../../../static/logo.svg"
    />
    <div
      class="text-w text-center font-['BricolageGrotesque-SemiBold',_sans-serif] text-[32px] leading-none font-semibold relative"
    >
      ReplicaPixel
    </div>
  </div>
  <div class="flex flex-row gap-12 items-center justify-start shrink-0 relative">
    <div class="flex flex-row gap-6 items-center justify-start shrink-0 relative">
      <div class="p-2.5 flex flex-row gap-2.5 items-center justify-center shrink-0 relative">
        <div
          class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative"
          style="letter-spacing: 0.005em"
        >
          Home
        </div>
      </div>
      <div class="p-2.5 flex flex-row gap-2.5 items-center justify-center shrink-0 relative">
        <div
          class="text-[#ffffff] text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative"
          style="letter-spacing: 0.005em"
        >
          Features
        </div>
      </div>
      <div class="p-2.5 flex flex-row gap-2.5 items-center justify-center shrink-0 relative">
        <div
          class="text-background-hover-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative"
          style="letter-spacing: 0.005em"
        >
          Studio
        </div>
      </div>
      <div class="p-2.5 flex flex-row gap-2.5 items-center justify-center shrink-0 relative">
        <div
          class="text-background-hover-50 text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative"
          style="letter-spacing: 0.005em"
        >
          Pricing
        </div>
      </div>
    </div>
    <div
      class="rounded-[50px] pt-4 pr-6 pb-4 pl-8 flex flex-row gap-4 items-center justify-center shrink-0 relative"
      style="
        background: var(
          --gr1,
          linear-gradient(90deg, rgba(96, 93, 255, 1) 0%, rgba(244, 48, 152, 1) 100%)
        );
      "
    >
      <div
        class="text-w text-center font-['Inter-SemiBold',_sans-serif] text-base leading-none font-semibold relative flex items-center justify-center"
        style="letter-spacing: -0.01em"
      >
        Try Now
      </div>
      <img class="shrink-0 w-[17px] h-4 relative overflow-visible" src="icon-container0.svg" />
    </div>
  </div>
</div>
