<section class="flex flex-col gap-3 items-center justify-start mb-16 mt-28 lg:mt-48 relative">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0">
    <div class="flex flex-col gap-6 items-center justify-start shrink-0">
      <div class="text-w text-center font-bricon text-5xl md:text-7xl font-semibold">
        Ai-Powered Real-Time
        <br />
        Image Generation
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[160%] font-normal"
      >
        Transform your selfie into endless AI creations. No waiting, no tweaks.
      </div>
    </div>
  </div>
  {% include "home/sections/partials/hero_panels.html" %} {#
  <div
    class="rounded-[50%] w-[407.01px] h-[407.01px] absolute left-[1087.59px] top-[6772.53px]"
    style="
      background: linear-gradient(180deg, rgba(255, 123, 202, 1) 0%, rgba(96, 93, 255, 1) 100%);
      transform-origin: 0 0;
      transform: rotate(136.069deg) scale(1, 1);
      filter: blur(127.58px);
    "
  ></div>
  #} {#
  <div
    class="rounded-[50%] w-[297.81px] h-[297.81px] absolute left-[1077.85px] top-[7043.51px]"
    style="
      background: linear-gradient(
        180deg,
        rgba(242, 47, 176, 1) 0%,
        rgba(96, 93, 255, 1) 100%,
        rgba(112, 97, 163, 1) 100%
      );
      transform-origin: 0 0;
      transform: rotate(113.869deg) scale(1, 1);
      filter: blur(63.79px);
    "
  ></div>
  #} {#
  <div
    class="rounded-[50%] w-[407.01px] h-[407.01px] absolute left-[1087.2px] top-[583.11px]"
    style="
      background: linear-gradient(180deg, rgba(244, 48, 152, 1) 0%, rgba(96, 93, 255, 1) 100%);
      transform-origin: 0 0;
      transform: rotate(138.178deg) scale(1, 1);
      filter: blur(127.58px);
    "
  ></div>
  #} {#
  <div
    class="rounded-[50%] w-[297.81px] h-[297.81px] absolute left-[1040.12px] top-[584.03px]"
    style="
      background: linear-gradient(
        180deg,
        rgba(242, 47, 176, 1) 0%,
        rgba(96, 93, 255, 1) 100%,
        rgba(112, 97, 163, 1) 100%
      );
      transform-origin: 0 0;
      transform: rotate(113.869deg) scale(1, 1);
      filter: blur(63.79px);
    "
  ></div>
  #}
  <div class="flex items-center justify-center shrink-0">
    <div>{% include "partials/parts/cta_btn_home.html" %}</div>
  </div>
</section>
