<!-- prettier-ignore -->
{% set home_link = "/" %}
{% set starter_partial_link = website.website_routes.starter_routes.starter_partial | safe %} 
{% set starter_link = website.website_routes.starter_routes.starter | safe %}
{% set studio_link = website.website_routes.dashboard_routes.base %}
{% set studio_partial_link = website.website_routes.dashboard_routes.sidebar.photo_partial %}

<section class="flex flex-col gap-3 items-center justify-start mb-16 mt-28 lg:mt-48 relative">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0">
    <div class="flex flex-col gap-6 items-center justify-start shrink-0">
      <div class="text-w text-center font-bricon text-5xl md:text-7xl font-semibold">
        {{ t(key="hero-title-line1", lang=lang) }}
        <br />
        {{ t(key="hero-title-line2", lang=lang) }}
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[160%] font-normal"
      >
        {{ t(key="hero-tagline", lang=lang) }}
      </div>
    </div>
  </div>
  {% include "home/sections/partials/hero_panels.html" %} {% include
  "partials/parts/validated/validate_hero_cta.html" %}
</section>
