{% set starter_partial_link = website.website_routes.starter_routes.starter_partial | safe %} {% set
starter_link = website.website_routes.starter_routes.starter | safe %}

<section class="flex flex-col gap-3 items-center justify-start mb-16 mt-28 lg:mt-48 relative">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0">
    <div class="flex flex-col gap-6 items-center justify-start shrink-0">
      <div class="text-w text-center font-bricon text-5xl md:text-7xl font-semibold">
        Ai-Powered Real-Time
        <br />
        Image Generation
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[160%] font-normal"
      >
        Transform your selfie into endless AI creations. No waiting, no tweaks.
      </div>
    </div>
  </div>
  {% include "home/sections/partials/hero_panels.html" %}

  <div class="flex items-center justify-center shrink-0 gap-2">
    <div>{% include "partials/parts/cta_btn_home.html" %}</div>
    <div
      hx-get="{{ starter_partial_link }}"
      hx-target="#app"
      hx-swap="innerHTML"
      hx-push-url="{{ starter_link }}"
      class="bg-[#ff319e] flex flex-row items-center lg:gap-4 p-2 lg:p-3 lg:px-6 my-[-0.5rem] lg:my-[-1rem] overflow-hidden rounded-full font-semibold text-white shadow-md hover:shadow-lg hover:brightness-110 active:scale-95 active:brightness-90 cursor-pointer"
    >
      Getting started
    </div>
  </div>
</section>
