<section class="flex flex-col gap-8 my-16 max-w-7xl mx-auto z-2">
  <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
    <div class="p-2 flex flex-row gap-2 items-center justify-center shrink-0 relative">
      {% include "partials/svg/triple_stars.html" %}
      <div class="text-w text-center font-inter text-sm relative flex items-center justify-center">
        Features
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
      <div class="text-w text-center font-bricon text-5xl font-medium relative">
        Instant Style AI Portraits
      </div>
      <div class="text-w text-center font-inter text-lg relative">
        Upload once.
        <br class="sm:hidden" />
        Get 8 pro-grade portraits in your perfect style.
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row gap-6 items-center justify-start self-stretch shrink-0 w-full relative"
  >
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div class="text-[#ffffff] text-center font-bricon text-2xl font-semibold relative">
            Creative Edge
          </div>
          <div
            class="text-background-disabled-0 text-left font-inter text-base relative self-stretch"
          >
            Artist, influencer, or visionary - styled for your vibe.
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-0 items-center justify-start shrink-0 relative">
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch flex-1 relative z-2"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div class="text-[#ffffff] text-center font-bricon text-2xl font-semibold relative">
            Creative Edge
          </div>
          <div
            class="text-background-disabled-0 text-left font-inter text-base relative self-stretch"
          >
            Artist, influencer, or visionary - styled for your vibe.
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-0 items-center justify-start shrink-0 relative">
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch flex-1 relative z-2"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div class="text-[#ffffff] text-center font-bricon text-2xl font-semibold relative">
            Creative Edge
          </div>
          <div
            class="text-background-disabled-0 text-left font-inter text-base relative self-stretch"
          >
            Artist, influencer, or visionary - styled for your vibe.
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-0 items-center justify-start shrink-0 relative">
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch object-cover flex-1 relative z-2"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch object-cover flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
  </div>
</section>
