<div class="pr-[200px] pl-[200px] flex flex-col gap-12 items-center justify-center relative my-16">
  <div class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative">
    <div
      class="rounded-[99px] pt-1 pr-4 pb-1 pl-2.5 flex flex-row gap-2 items-center justify-start shrink-0 relative"
    >
      {% include "partials/svg/triple_stars.html" %}
      <div
        class="text-w text-center font-['Inter-Regular',_sans-serif] text-sm leading-none font-normal relative flex items-center justify-center"
      >
        Features
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
      <div
        class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-5xl leading-[110%] font-medium relative w-[1062px]"
      >
        Instant Style AI Portraits
      </div>
      <div
        class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[140%] font-normal relative w-[770px]"
      >
        Upload once. Get 8 pro-grade portraits in your perfect style.
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-6 items-center justify-start self-stretch shrink-0 relative">
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div
            class="text-[#ffffff] text-left font-['BricolageGrotesque-SemiBold',_sans-serif] text-2xl leading-none font-semibold relative w-[333px]"
          >
            Corporate Ready
          </div>
          <div
            class="text-background-disabled-0 text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative self-stretch"
          >
            Flawless suits, ideal lighting – LinkedIn-perfect in seconds.
          </div>
        </div>
      </div>
      <div
        class="flex flex-row gap-0 items-center justify-start shrink-0 w-[336px] h-[250px] relative"
      >
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch flex-1 relative"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div
            class="text-[#ffffff] text-center font-['BricolageGrotesque-SemiBold',_sans-serif] text-2xl leading-none font-semibold relative"
          >
            Creative Edge
          </div>
          <div
            class="text-background-disabled-0 text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative self-stretch"
          >
            Artist, influencer, or visionary – styled for your vibe.
          </div>
        </div>
      </div>
      <div
        class="flex flex-row gap-0 items-center justify-start shrink-0 w-[336px] h-[250px] relative"
      >
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch flex-1 relative"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
    <div
      class="bg-[rgba(255,255,255,0.05)] rounded-2xl border-solid border-[rgba(255,255,255,0.13)] border p-6 flex flex-col gap-6 items-start justify-center flex-1 relative overflow-hidden"
    >
      <div class="flex flex-col gap-6 items-start justify-start self-stretch shrink-0 relative">
        <div class="flex flex-col gap-3 items-start justify-start self-stretch shrink-0 relative">
          <div
            class="text-[#ffffff] text-center font-['BricolageGrotesque-SemiBold',_sans-serif] text-2xl leading-none font-semibold relative"
          >
            Fantasy Twist
          </div>
          <div
            class="text-background-disabled-0 text-left font-['Inter-Regular',_sans-serif] text-base leading-[160%] font-normal relative self-stretch"
          >
            Game character, cyberpunk, or royal avatar – just for fun.
          </div>
        </div>
      </div>
      <div
        class="flex flex-row gap-0 items-center justify-start shrink-0 w-[336px] h-[250px] relative"
      >
        <img
          class="rounded-tl-xl rounded-bl-xl self-stretch flex-1 relative"
          style="
            background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            object-fit: cover;
          "
          src="../../../static/images/styling_pre.png"
        />
        <img
          class="rounded-tr-xl rounded-br-xl self-stretch flex-1 relative"
          style="object-fit: cover"
          src="../../../static/images/styling_post.png"
        />
      </div>
    </div>
  </div>
</div>
