<!-- prettier-ignore -->
{% set packs_all_link = website.website_routes.packs_routes.api_packs_all %}
{% set pack_list = web_images.packs %}

<section id="home-packs" class="flex flex-col gap-8 my-28 max-w-7xl mx-auto z-8">
  <style>
    :target {
      scroll-margin-top: 50vh;
      padding-top: 20px;
    }
  </style>
  <div class="flex flex-col gap-4 items-center justify-center">
    <div class="p-2 flex flex-row gap-2 items-center justify-center">
      {% include "partials/svg/triple_stars.html" %}
      <div class="text-w text-center text-sm flex items-center justify-center">Ai Packs</div>
    </div>
    <div class="flex flex-col gap-4 items-center justify-center">
      <div class="text-w text-center font-bricon text-5xl font-medium">
        Tons of AI Packs to choose from
      </div>
      <div class="text-w text-center text-lg">
        With just one click,
        <br class="sm:hidden" />
        {{website_name}} will takes care of the rest
      </div>
    </div>
  </div>

  <div id="home-inner-packs" class="w-full flex flex-col gap-8">
    {% include "home/sections/partials/pack_inner_partial.html" %}
    <div class="flex items-center justify-center w-full">
      <div class="relative inline-flex group">
        <span
          hx-get="{{packs_all_link | safe}}"
          hx-target="#home-inner-packs"
          hx-swap="innerHTML"
          class="text-2xl transition-all duration-300 cursor-pointer hover:text-grn-to"
        >
          See more
        </span>
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-grn-to transition-all duration-300 group-hover:w-full"
        ></span>
      </div>
    </div>
  </div>
</section>
