<div class="pr-[200px] pb-6 pl-[200px] flex flex-col gap-12 items-center justify-center relative">
  <div class="flex flex-col gap-12 items-center justify-center shrink-0 w-[1200px] relative">
    <div
      class="flex flex-col gap-3 items-center justify-center self-stretch shrink-0 h-[139px] relative"
    >
      <div
        class="rounded-[99px] pt-1 pr-4 pb-1 pl-2.5 flex flex-row gap-2 items-center justify-start shrink-0 relative"
      >
        {% include "partials/svg/triple_stars.html" %}
        <div
          class="text-w text-center font-['Inter-Regular',_sans-serif] text-sm leading-none font-normal relative flex items-center justify-center"
        >
          Pricing
        </div>
      </div>
      <div class="flex flex-col gap-4 items-center justify-center self-stretch shrink-0 relative">
        <div
          class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-5xl leading-[110%] font-medium relative w-[1062px]"
        >
          Choose Your Plan
        </div>
        <div
          class="text-[#f8fdfe] text-center font-['Inter-Regular',_sans-serif] text-lg leading-[140%] font-normal relative w-[770px]"
        >
          Select the perfect plan for your needs
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-6 items-center justify-center self-stretch shrink-0 relative">
      <div
        class="bg-[rgba(255,255,255,0.03)] rounded-xl border-solid border-[rgba(255,255,255,0.10)] border flex flex-col gap-0 items-center justify-center flex-1 relative overflow-hidden"
      >
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-6 items-center justify-center shrink-0 w-[314px] relative">
            <div
              class="flex flex-col gap-2 items-start justify-start self-stretch shrink-0 relative"
            >
              <div
                class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-[32px] leading-[120%] font-medium relative self-stretch"
              >
                Basic
              </div>
              <div
                class="text-gray-black-50 text-center font-['Inter-Regular',_sans-serif] text-lg leading-[120%] font-normal relative self-stretch"
              >
                For individuals &amp; testing
              </div>
            </div>
            <div
              class="text-w text-center font-['Inter-SemiBold',_sans-serif] text-5xl leading-[120%] font-semibold relative self-stretch"
            >
              $9.99
            </div>
          </div>
        </div>
        <div
          class="border-solid border-[rgba(255,255,255,0.10)] border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-[328px] h-0 relative"
          style="margin-top: -1px"
        ></div>
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-8 items-center justify-center self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                50 AI Photo Credits
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                1 AI Model
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Monthly Subscription
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                Use Any Photo Pack
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Watermarks
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                24/7 Support
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="bg-[#605dff] rounded-xl pt-4 pr-8 pb-4 pl-8 flex flex-row gap-3 items-center justify-center self-stretch shrink-0 relative"
              style="box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04)"
            >
              <div
                class="text-w text-center font-['Inter-Medium',_sans-serif] text-base leading-none font-medium relative flex items-center justify-center"
              >
                Choose Basic
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.08)] border-gradient-to-br from-[#605DFF] to-[#F43098] rounded-xl border-[1.5px] border-solid flex flex-col gap-0 items-center justify-start shrink-0 w-[400px] relative overflow-hidden"
        style="
          border-image: linear-gradient(
            113deg,
            rgba(96, 93, 255, 1) 0%,
            rgba(244, 48, 152, 1) 100%
          );
          border-image-slice: 1;
        "
      >
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-6 items-center justify-center shrink-0 w-[314px] relative">
            <div
              class="flex flex-col gap-2 items-start justify-start self-stretch shrink-0 relative"
            >
              <div
                class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-[32px] leading-[120%] font-medium relative self-stretch"
              >
                Premium
              </div>
              <div
                class="text-gray-black-50 text-center font-['Inter-Regular',_sans-serif] text-lg leading-[120%] font-normal relative self-stretch"
              >
                For creators &amp; small teams
              </div>
            </div>
            <div
              class="text-w text-center font-['Inter-SemiBold',_sans-serif] text-5xl leading-[120%] font-semibold relative self-stretch"
            >
              $39.99
            </div>
          </div>
        </div>
        <div
          class="border-solid border-[rgba(255,255,255,0.10)] border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-[328px] h-0 relative"
          style="margin-top: -1px"
        ></div>
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-8 items-center justify-start self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                250 AI Photo Credits
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                7 AI Models
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Monthly Subscription
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                Use Any Photo Pack
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Watermarks
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                Priority processing
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                24/7 Support
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="bg-[#f43098] rounded-xl pt-4 pr-8 pb-4 pl-8 flex flex-row gap-3 items-center justify-center self-stretch shrink-0 relative"
              style="box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04)"
            >
              <div
                class="text-[#ffffff] text-center font-['Inter-Medium',_sans-serif] text-base leading-none font-medium relative flex items-center justify-center"
              >
                Choose Premium
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-[rgba(255,255,255,0.02)] rounded-xl border-solid border-[rgba(255,255,255,0.10)] border flex flex-col gap-0 items-center justify-center flex-1 relative overflow-hidden"
      >
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-3 items-center justify-center self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-6 items-center justify-center shrink-0 w-[314px] relative">
            <div
              class="flex flex-col gap-2 items-start justify-start self-stretch shrink-0 relative"
            >
              <div
                class="text-w text-center font-['BricolageGrotesque-Medium',_sans-serif] text-[32px] leading-[120%] font-medium relative self-stretch"
              >
                Enterprise
              </div>
              <div
                class="text-gray-black-50 text-center font-['Inter-Regular',_sans-serif] text-lg leading-[120%] font-normal relative self-stretch"
              >
                For agencies &amp; heavy users
              </div>
            </div>
            <div
              class="text-w text-center font-['Inter-SemiBold',_sans-serif] text-5xl leading-[120%] font-semibold relative self-stretch"
            >
              $99.99
            </div>
          </div>
        </div>
        <div
          class="border-solid border-[rgba(255,255,255,0.10)] border-t border-r-[0] border-b-[0] border-l-[0] shrink-0 w-[328px] h-0 relative"
          style="margin-top: -1px"
        ></div>
        <div
          class="pt-8 pr-6 pb-8 pl-6 flex flex-col gap-8 items-center justify-center self-stretch shrink-0 relative"
        >
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                1100 AI Photo Credits
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-w text-left font-['Inter-Medium',_sans-serif] text-lg leading-none font-medium relative flex items-center justify-start"
              >
                16 AI Models
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Monthly Subscription
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                Use Any Photo Pack
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                No Watermarks
              </div>
            </div>
            <div
              class="flex flex-row gap-2 items-center justify-start self-stretch shrink-0 relative"
            >
              {% include 'partials/svg/check2.html' %}

              <div
                class="text-gray-black-50 text-left font-['Inter-Regular',_sans-serif] text-lg leading-none font-normal relative flex items-center justify-start"
              >
                24/7 Support
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-4 items-start justify-start self-stretch shrink-0 relative">
            <div
              class="bg-[#605dff] rounded-xl pt-4 pr-8 pb-4 pl-8 flex flex-row gap-3 items-center justify-center self-stretch shrink-0 relative"
              style="box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04)"
            >
              <div
                class="text-[#ffffff] text-center font-['Inter-Medium',_sans-serif] text-base leading-none font-medium relative flex items-center justify-center"
              >
                Choose Max
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="rounded-[99px] pt-1.5 pr-4 pb-1.5 pl-4 flex flex-row gap-0 items-center justify-center shrink-0 absolute left-[629px] top-[175.2px]"
      style="
        background: var(
          --gr1,
          linear-gradient(90deg, rgba(96, 93, 255, 1) 0%, rgba(244, 48, 152, 1) 100%)
        );
      "
    >
      <div
        class="text-[#ffffff] text-center font-inter text-xs leading-none font-medium relative flex items-center justify-center"
      >
        Most Popular
      </div>
    </div>
  </div>
</div>
