{% set pricing_list = options.web_images.plans %} {% set checkout_prepare_link =
website.website_routes.payment.payment_prepare_route %}

<section
  id="pricing"
  class="flex flex-col gap-12 items-center justify-center relative mx-auto max-w-7xl p-2 sm:p-0"
>
  <div class="flex flex-col gap-12 items-center justify-center shrink-0 w-full relative">
    <div class="flex flex-col gap-4 items-center justify-center self-stretch">
      <div class="p-2 flex flex-row gap-2 items-center justify-center">
        {% include "partials/svg/triple_stars.html" %}
        <div class="text-center font-inter text-sm relative flex items-center justify-center">
          {{ t(key="pricing-section-badge", lang=lang) }}
        </div>
      </div>
      <div class="flex flex-col gap-4 items-center justify-center">
        <div class="text-center font-bricon text-5xl font-medium">
          {{ t(key="pricing-section-title", lang=lang) }}
        </div>
        <div class="text-center font-inter text-lg">
          {{ t(key="pricing-section-subtitle", lang=lang) }}
        </div>
      </div>
    </div>

    <div
      class="p-4 lg:p-0 flex flex-col lg:flex-row gap-6 items-center justify-between self-stretch relative"
    >
      {% for pricing in pricing_list %}
      <div
        class="bg-white/8 rounded-xl border-solid border-white/10 border flex flex-col items-center flex-1 relative max-w-96 overflow-visible"
        {%
        if
        pricing.is_popular
        %}
        style="
          border-image: linear-gradient(
            113deg,
            rgba(96, 93, 255, 1) 0%,
            rgba(244, 48, 152, 1) 100%
          );
          border-image-slice: 1;
        "
        {%
        endif
        %}
      >
        {% if pricing.is_popular %}
        <div
          class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-full py-1.5 px-4 flex items-center justify-center z-10"
          style="
            background: var(
              --gr1,
              linear-gradient(90deg, rgba(96, 93, 255, 1) 0%, rgba(244, 48, 152, 1) 100%)
            );
          "
        >
          <div class="text-center font-inter text-xs font-medium">
            {{ t(key="pricing-popular-badge", lang=lang) }}
          </div>
        </div>
        {% endif %}
        <div class="py-8 px-6 flex flex-col gap-3 items-center justify-center self-stretch">
          <div class="flex flex-col gap-6 items-center justify-center w-[19.625rem]">
            <div class="flex flex-col gap-2 items-start self-stretch">
              <div
                class="text-center font-bricon text-[2rem] leading-[1.2] font-medium self-stretch"
              >
                {{ pricing.plan_name | capitalize }}
              </div>
              <div
                class="text-gray-black-50 text-center font-inter text-lg leading-[1.2] self-stretch"
              >
                {{ pricing.subtitle }}
              </div>
            </div>
            <div class="text-center text-5xl leading-[1.2] font-semibold self-stretch">
              {{ pricing.currency }}{{ pricing.price }}
            </div>
          </div>
        </div>
        <div class="border-solid border-white/10 border-t w-[20.5rem] h-0 mt-[-0.0625rem]"></div>
        <div
          x-data="{ isPlus: true }"
          class="py-8 px-6 flex flex-col gap-8 items-center self-stretch"
        >
          <div class="flex flex-col gap-4 items-start self-stretch">
            <div class="flex flex-row gap-2 items-center self-stretch">
              {% include "partials/svg/check2.html" %}
              <div class="text-left font-inter text-lg font-medium">
                <span
                  x-text="isPlus ? {{ pricing.credit_amount_plus }} : {{ pricing.credit_amount }}"
                >
                  {{ pricing.credit_amount }}
                </span>
                AI Photo Credits
              </div>
            </div>
            <div class="flex flex-row gap-2 items-center self-stretch">
              {% include "partials/svg/check2.html" %}
              <div class="text-left font-inter text-lg font-medium">
                <span
                  x-text="isPlus ? {{ pricing.model_amount_plus }} : {{ pricing.model_amount }}"
                >
                  {{ pricing.model_amount }}
                </span>
                AI Replica
              </div>
            </div>
            {% for feature in pricing.features %}
            <div class="flex flex-row gap-2 items-center self-stretch">
              {% include "partials/svg/check2.html" %}
              <div class="text-left font-inter text-lg font-medium">{{ feature }}</div>
            </div>
            {% endfor %}
          </div>
          <div class="w-full max-w-sm space-y-4">
            <div class="flex items-center justify-center gap-2">
              <input
                type="checkbox"
                class="toggle {% if pricing.plan_name == 'basic' or pricing.plan_name == 'max' %}toggle-primary{% else %}toggle-secondary{% endif %} toggle-lg"
                x-model="isPlus"
              />
              <span class="font-medium">AI Photo Credits Preference</span>
            </div>
            {% if user %} {% if pricing.plan_name == "basic" %} {% include
            "partials/parts/validated/pricing_basic_btn.html" %} {% elif pricing.plan_name ==
            "premium" %} {% include "partials/parts/validated/pricing_premium_btn.html" %} {% elif
            pricing.plan_name == "max" %} {% include "partials/parts/validated/pricing_max_btn.html"
            %} {% endif %} {% else %}
            <div id="pricing-{{pricing.plan_name}}-btn" class="w-full flex flex-col items-start">
              {% include "home/sections/partials/pricing_auth_modal.html" %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
