<div class="max-w-7xl mx-auto my-8 md:my-16">
  <div class="flex flex-col items-center justify-center gap-4 mb-8">
    <div
      class="p-2 flex flex-row items-center justify-center gap-2 shrink-0 border border-transparent"
    >
      {% include "partials/svg/triple_stars.html" %}
      <div class="text-w text-center font-inter text-sm flex items-center justify-center">
        AI-Portraits
      </div>
    </div>
    <div class="flex flex-col gap-8 items-center justify-center self-stretch shrink-0">
      <div class="flex flex-col gap-4 shrink-0">
        <div class="text-w text-center font-bricon text-5xl font-medium">
          AI-Powered Pro Headshots
        </div>
        <div class="text-w text-center font-inter text-lg">
          Upload a selfie.
          <br class="md:hidden" />
          Get 8 studio-quality portraits in 60 seconds.
        </div>
      </div>
      <div
        class="bg-grn-from text-white rounded-full p-4 flex flex-row items-center font-semibold justify-center gap-4 shrink-0 cursor-pointer"
      >
        Create My Pro Portrait Now {% include "partials/svg/triple_stars.html" %}
      </div>
    </div>
  </div>
  <figure class="diff aspect-16/9 rounded-2xl shrink-0" tabindex="0">
    <div class="diff-item-1" role="img" tabindex="0">
      <img
        alt="daisy"
        src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a.webp"
      />
    </div>
    <div class="diff-item-2" role="img">
      <img
        alt="daisy"
        src="https://img.daisyui.com/images/stock/photo-1560717789-0ac7c58ac90a-blur.webp"
      />
    </div>
    <div class="diff-resizer"></div>
  </figure>
</div>
