<!-- prettier-ignore -->
{% set video_check_link = options.website.website_routes.video.check %}
{% set video_delete_link = options.website.website_routes.video.api_delete %}

{% for video in options.videos %}
<!-- prettier-ignore -->
<div
    id="vid-container-{{ video.pid }}"
    {% if loop.last and not options.is_image_gen and loop.index > 19  %}
    hx-get="{{ options.website.website_routes.video.api_video_infinite | safe }}/{{ video.pid | safe }}"
    hx-trigger="intersect once"
    hx-swap="afterend"
    {% endif %}
  >
  {% if video.status == "Completed" %}
  {% include "dashboard/content/video/video_status/completed.html" %}

  {% elif video.status == "Processing" %}
  {% include "dashboard/content/video/video_status/processed.html" %}

  {% elif video.status == "Pending" %}
  {% include "dashboard/content/video/video_status/pending.html" %}

  {% elif video.status == "Failed" %}
  {% include "dashboard/content/video/video_status/failed.html" %}

  {% endif %}
</div>
{% endfor %}

<!-- Dialog -->
{% if not options.is_infinite %} {% include "dashboard/content/video/video_card_dialog.html" %} {%
endif %}

<!-- Credits OOB Swap -->
{% include "partials/parts/oob_user_credit.html" %}
