<div>
  <div class="max-w-7xl mx-auto">
    <div class="flex items-center justify-center mb-8">
      <h1 class="text-2xl font-bold md:text-3xl">Features</h1>
    </div>

    <div class="flex flex-col md:flex-row gap-8">
      <div class="card bg-base-100 shadow-xl max-h-96">
        <div class="card-body">
          <h2 class="card-title text-xl font-semibold mb-4">Suggest a Feature</h2>
          {% include "dashboard/content/features/feature_form.html" %}
        </div>
      </div>

      <div class="space-y-6">
        {% for feature in features_view %} {% include
        "dashboard/content/features/feature_piece.html" %} {% endfor %} {% if features_view | length
        == 0 %}
        <div class="text-center text-base-content/60 p-10">No features suggested yet.</div>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    updatePageTitle("ReplicaPixel | Features");
  </script>
</div>
