<div
  class="md:min-w-96 max-w-96 w-full lg:h-[270px] bg-white/5 border border-white/15 rounded-2xl p-6 flex flex-col gap-6 items-start justify-center h-auto relative"
>
  <div class="flex flex-col gap-4 items-start w-full">
    <div class="flex gap-2">{% include "partials/svg/stars.html" %}</div>

    <div class="flex flex-col gap-8 items-start w-full">
      <p
        class="text-background-disabled-0 text-left font-medium text-base leading-relaxed font-[Inter]"
      >
        Using AI in our recruitment has significantly improved efficiency, and allowed us to source
        talent globally.
      </p>

      <div class="flex flex-row gap-3 items-center w-full">
        <div class="avatar">
          <div class="w-16 rounded-full ring-2 ring-primary ring-offset-2 ring-offset-base-100">
            <img src="https://img.daisyui.com/images/profile/demo/spiderperson@192.webp" />
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="text-w font-medium text-xl font-[Gellix]">Annette Black</div>
          <div class="text-gray-black-50 text-base font-normal font-[Inter]">CTO</div>
        </div>
      </div>

      <div class="absolute right-6 bottom-6 w-6 h-6">{% include "partials/svg/quote.html" %}</div>
    </div>
  </div>
</div>
