<div class="flex items-center justify-between py-3">
  <div class="flex items-center gap-4">
    <span class="text-primary"> {% include "partials/svg/bell.html" %} </span>
    <div>
      <label for="email_notifications_toggle" class="font-medium cursor-pointer">Dark Mode</label>
      <p class="text-sm text-base-content/60">Toggle dark mode appearance.</p>
    </div>
  </div>
  <div>
    <span
      id="theme-notification-spinner"
      class="htmx-indicator loading loading-spinner loading-sm ml-2"
    ></span>
    {% include "dashboard/content/settings/partials/dark_mode_input.html" %}
  </div>
</div>
