<div class="flex items-center justify-between py-3">
  <div class="flex items-center gap-4">
    <span class="text-primary"> {% include "partials/svg/mail.html" %} </span>
    <div>
      <label for="email_notifications_toggle" class="font-medium cursor-pointer"
        >Email notifications</label
      >
      <p class="text-sm text-base-content/60">Receive emails about your account activity.</p>
    </div>
  </div>
  <div>
    <span
      id="email-notification-spinner"
      class="htmx-indicator loading loading-spinner loading-sm ml-2"
    ></span>
    {% include "dashboard/content/settings/partials/email_notification_input.html" %}
  </div>
</div>
