<form
  id="password-settings"
  class="card bg-base-100 shadow mb-6"
  hx-post="{{ website.website_routes.auth_routes.change_password | safe }}/{{ user.pid }}"
  hx-ext="form-json"
  hx-disabled-elt="#password-change-btn"
  hx-swap="outerHTML"
>
  <div class="card-body">
    <h2 class="text-lg font-medium mb-4">Password</h2>
    <div class="grid gap-2">
      <div class="relative">
        <input
          class="appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600 transition w-full rounded-md py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline"
          id="current_password"
          name="current_password"
          type="password"
          placeholder="Current password"
        />
        <div class="absolute left-0 inset-y-0 flex items-center">
          {% include "partials/svg/lock.html" %}
        </div>
      </div>
      <p class="text-red-600 mt-2"></p>
      <div class="relative">
        <input
          class="appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600 transition w-full rounded-md py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline"
          id="password"
          name="password"
          type="password"
          placeholder="Password"
        />
        <div class="absolute left-0 inset-y-0 flex items-center">
          {% include "partials/svg/lock.html" %}
        </div>
      </div>
      <p class="text-red-600 mt-2"></p>
      <div class="relative">
        <input
          class="appearance-none border pl-12 border-gray-100 shadow-sm focus:shadow-md focus:placeholder-gray-600 transition w-full rounded-md py-3 text-gray-600 leading-tight focus:outline-none focus:ring-gray-600 focus:shadow-outline"
          id="confirm_password"
          name="confirm_password"
          type="password"
          placeholder="Confirm Password"
        />
        <div class="absolute left-0 inset-y-0 flex items-center">
          {% include "partials/svg/lock.html" %}
        </div>
      </div>
      <p class="text-red-600 mt-2">{% if msg %} {{ msg }} {% endif %}</p>
      <!-- Save Button -->
      <button id="password-change-btn" class="btn btn-primary">Change Password</button>
    </div>
  </div>
</form>
