<!-- prettier-ignore -->
{% set logout_api_link = website.website_routes.auth_routes.api_logout | safe %}
 {% set register_link = website.website_routes.auth_routes.register | safe %}
 {# studio_link | super #}

<div id="navbar-user">
  <div class="flex items-center space-x-4">
    {#
    <div class="hidden md:inline-flex items-center hover:text-base-600 select-none">
      <span>Hi {{user.name}}</span>
    </div>
    #} {% include "partials/parts/cta_button.html" %}
    <div class="hidden md:inline-flex items-center hover:text-base-600 select-none">
      {% include "partials/svg/model_svg.html" %}
      <span id="user_model_credits" class="ml-1">{{ credits.model_amount }}</span>
    </div>
    <div class="hidden md:inline-flex items-center hover:text-base-600 select-none">
      {% include "partials/svg/credit_svg.html" %}
      <span id="user_credits" class="ml-1">{{ credits.credit_amount }}</span>
    </div>
    <div class="relative parent">
      <div class="flex items-center hover:bg-base-100 rounded-full p-1 cursor-pointer">
        <div
          class="flex items-center justify-center bg-neutral text-neutral-content w-8 h-8 rounded-full select-none"
        >
          <span class="text-sm font-medium"
            >{{ user.name | truncate(length=1, end="") | upper }}
          </span>
        </div>
      </div>
      <ul
        class="child transition duration-300 md:absolute top-full right-0 md:w-48 md:shadow-lg md:rounded-b bg-base-100 z-20"
      >
        {#
        <li>
          <a
            hx-get="{{ website.website_routes.dashboard_routes.billing_partial | safe }}"
            hx-target="#dashboard_content"
            hx-push-url="{{ website.website_routes.dashboard_routes.billing | safe }}"
            hx-swap="innerHTML"
            class="flex px-4 py-3 hover:bg-base-300 cursor-pointer"
          >
            Billing & Plans
          </a>
        </li>
        #}
        <li>
          <a hx-get="{{ logout_api_link }}" class="flex px-4 py-3 hover:bg-base-300 cursor-pointer">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Mobile menu button -->
  <button class="md:hidden text-gray-500 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path
        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
      />
    </svg>
  </button>
</div>

{% if user.name and is_home %}
<div id="navbar-middle" class="absolute left-1/2 transform -translate-x-1/2 z-10">
  <a href="{{ studio_link }}" class="btn btn-neutral">Dashboard</a>
</div>
{% endif %}
