<!-- prettier-ignore -->
{% set home_link = website.website_routes.home.base | safe %}
{% set studio_link = website.website_routes.dashboard_routes.base | safe %}
{% set validate_link = website.website_routes.auth_routes.validate_route | safe %}
{% set login_link = website.website_routes.auth_routes.login | safe %}
{% set register_link = website.website_routes.auth_routes.register | safe %}

<style>
  @media only screen and (min-width: 768px) {
    .parent:hover .child {
      opacity: 1;
      height: auto;
      overflow: none;
      transform: translateY(0);
    }
    .child {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transform: translateY(-10%);
    }
  }
</style>
<nav class="flex items-center justify-between px-4 py-2 md:shadow-lg relative z-20">
  <!-- Start section (Logo/Brand) -->
  <div class="flex items-center flex-shrink-0">
    <a class="h-6 w-6 mx-auto" href="{{ home_link }}"> {% include "partials/svg/logo.html" %} </a>
    <a href="{{ home_link }}">
      <div class="text-lg font-bold ml-4 cursor-pointer select-none">
        {{ website_name | default(value= "ReplicaPixel") }}
      </div>
    </a>
  </div>

  <!-- Middle section (Navigation links) -->
  <div id="navbar-middle" class="absolute left-1/2 transform -translate-x-1/2 z-10 bg-base">
    {% if not is_home %}
    <!-- Search bar container (already centered) -->
    <div class="max-w-md mx-auto">
      <div
        class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-base overflow-hidden"
      >
        <div
          class="grid place-items-center h-full w-12 text-gray-300 dark:text-white-300 text-base-content"
        >
          {% include "partials/svg/search.html" %}
        </div>

        <input
          class="peer h-full w-full outline-none text-sm text-base-content placeholder:text-base-content/70 pr-2 bg-transparent"
          type="text"
          id="search"
          placeholder="Search something.."
        />
      </div>
    </div>
    {% else %}
    <!-- Dashboard button container -->
    {% if user.name %}
    <!-- Dashboard button container -->
    <a href="{{ studio_link }}" class="btn btn-neutral">Dashboard</a>
    {% endif %} {% endif %}
  </div>

  <!-- End section (User controls) -->
  <div class="flex items-center space-x-4">
    <label class="swap swap-rotate">
      <input type="checkbox" class="theme-controller" value="dark" />
      <!-- sun icon -->
      {% include "partials/svg/sun.html" %}
      <!-- moon icon -->
      {% include "partials/svg/moon.html" %}
    </label>
    {% if user.name %} {% include "partials/navbar/navbar_user_partial.html" %} {% else %}
    <div
      hx-get="{{ validate_link }}"
      hx-trigger="load once"
      hx-swap="outerHTML"
      hx-select-oob="#navbar-middle"
      class="flex items-center space-x-2"
    >
      <div class="flex items-center space-x-4">
        <a href="{{ login_link }}" class="btn btn-neutral">Login</a>
      </div>
      <div class="flex items-center space-x-4">
        <a href="{{ register_link }}" class="btn btn-neutral">Sign Up</a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>
