{% if is_deleted %}
<button
  hx-delete="{{ website.website_routes.image.image_restore | safe }}/{{ image.pid }}"
  hx-target="#container3-{{ image.pid }}"
  hx-confirm="Are you sure you want to delete this item?"
  hx-swap="outerHTML"
  class="btn btn-info"
>
  Restore {% include "partials/svg/restore.html" %}
</button>
{% else %}
<button
  hx-delete="{{ website.website_routes.image.base | safe }}/{{ image.pid }}"
  hx-target="#container3-{{ image.pid }}"
  hx-confirm="Are you sure you want to delete this item?"
  hx-swap="outerHTML"
  class="btn btn-error"
>
  Delete {% include "partials/svg/trash.html" %}
</button>
{% endif %}
