{% if image.is_favorite %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website.website_routes.image.image_favorite | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn btn-xs md:btn-md"
>
  <span class="hidden sm:inline">Remove Favorite</span> {% include "partials/svg/bookmark.html" %}
</button>
{% else %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website.website_routes.image.image_favorite | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn btn-secondary btn-xs md:btn-md"
>
  <span class="hidden sm:inline">Add to Favorites</span>{% include "partials/svg/bookmark.html" %}
</button>
{% endif %}
