{% if image.is_favorite %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website.website_routes.image.image_favorite | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn"
>
  Remove Favorite {% include "partials/svg/bookmark.html" %}
</button>
{% else %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website.website_routes.image.image_favorite | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn btn-secondary"
>
  Add to Favorites {% include "partials/svg/bookmark.html" %}
</button>
{% endif %}
