{% set website_favorite_link = options.website.website_routes.image.image_favorite %} {% set image =
options.image %} {% if image.is_favorite %} {% set lang = options.language %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website_favorite_link | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn btn-xs md:btn-md"
>
  <span class="hidden sm:inline">{{ t(key="image-action-remove-favorite", lang=lang) }}</span> {%
  include "partials/svg/bookmark.html" %}
</button>
{% else %}
<button
  id="fav-{{ image.pid }}"
  hx-patch="{{ website_favorite_link | safe }}/{{ image.pid }}"
  hx-swap="outerHTML"
  class="btn btn-secondary btn-xs md:btn-md"
>
  <span class="hidden sm:inline">{{ t(key="image-action-add-favorite", lang=lang) }}</span>{%
  include "partials/svg/bookmark.html" %}
</button>
{% endif %}
