{% set lang = options.language %}
<!-- Cookie Consent -->
{% if options.cc_cookie.cookie_exists %}
<!-- Meta Pixel -->
{% if options.cc_cookie.marketing %} {% include "partials/cookie/marketing.html" %} {% endif %}
<!-- Google Analytics -->
{% if options.cc_cookie.analytics %} {% include "partials/cookie/analytics.html" %} {% endif %} {%
else %}
<link href="/static/js/cookie-consent.css" rel="stylesheet" type="text/css" />
<script type="module" src="/static/js/cookie-consent.js" defer></script>
{% endif %}
