<!-- prettier-ignore -->
{% set pack_link = website.website_routes.packs_routes.show_pack %} 
{% set pack_partial_link = website.website_routes.packs_routes.show_pack_partial %}

{% if is_pack_partial %}
{% set pack_list = packs %}
{% endif %}

<div class="flex flex-row flex-wrap justify-center lg:justify-between items-stretch gap-6 w-full">
  {% for pack in pack_list %}
  <a
    id="pack-{{pack.pid}}"
    href="{{pack_link | safe}}/{{pack.pid}}"
    hx-get="{{pack_partial_link | safe}}/{{pack.pid}}"
    hx-target="#app"
    hx-swap="innerHTML"
    hx-push-url="{{pack_link | safe}}/{{pack.pid}}"
    class="h-full"
  >
    <div
      class="w-72 h-full bg-base-100 shadow-md rounded-xl overflow-hidden flex flex-col duration-500 hover:scale-105 hover:shadow-xl cursor-pointer"
    >
      <img
        src="{{ pack.main_image | safe }}"
        alt="pack"
        class="h-80 w-72 object-cover rounded-t-xl"
        loading="lazy"
      />
      <div class="flex flex-col flex-grow px-4 py-3 justify-between">
        <p class="text-lg text-center font-bold truncate capitalize">{{ pack.title }}</p>
        <p class="text-center text-sm mt-2 flex-grow overflow-hidden line-clamp-3">
          {{ pack.short_description | truncate(length=150, end="...") }}
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
