{% set payment_auth_link = options.website.website_routes.auth_routes.api_auth_register_stripe %} {%
set lang = options.language %} {% set error_msg = options.auth_error %} {% set login_partial_link =
options.website.website_routes.auth_routes.login_partial %}

<div id="register-modal-{{pricing.plan_name}}-box" class="modal-box max-w-md">
  <!-- Close Button -->
  <form method="dialog">
    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
  </form>

  <!-- Modal Header -->
  <div class="text-center">
    <h3 class="text-2xl font-bold">Create Account</h3>
    <p class="py-2">Join us today</p>
    <!-- Replaced info box with a theme-sensitive "alert" -->
    <div role="alert" class="alert alert-success mt-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-current shrink-0 w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span class="text-sm font-medium"
        >Selected: {{pricing.plan_name | capitalize}} Plan (${{pricing.price}})</span
      >
    </div>
  </div>

  <!-- Form -->
  <form
    id="signup-form-{{pricing.plan_name}}"
    class="space-y-4 mt-6"
    hx-post="{{ payment_auth_link  | safe }}"
    hx-ext="form-json"
    hx-target="#register-modal-{{pricing.plan_name}}-box"
    hx-swap="outerHTML"
    hx-disabled-elt="#create-account-btn-{{pricing.plan_name}}"
  >
    <!-- Full Name -->
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
        />
      </svg>
      <input type="text" class="grow" placeholder="Full Name" name="name" value="{{
      options.register.name | default (value="")}}" required />
    </label>
    <p class="text-red-600 mt-2">{{ error_msg.register_name | default (value="")}}</p>

    <!-- Email -->
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
        />
        <path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
        />
      </svg>
      <input type="email" class="grow" placeholder="Email" name="email" value="{{
      options.register.email | default (value="")}}" required />
    </label>
    <p class="text-red-600 mt-2">{{ error_msg.register_email | default (value="")}}</p>

    <!-- Password -->
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd"
        />
      </svg>
      <input type="password" class="grow" placeholder="Password" name="password" required />
    </label>

    <!-- Confirm Password -->
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4 opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd"
        />
      </svg>
      <input
        type="password"
        class="grow"
        placeholder="Confirm Password"
        name="confirm_password"
        required
      />
    </label>
    <p class="text-red-600 mt-2">{{ error_msg.register_password | default (value="")}}</p>

    <label class="cursor-pointer flex items-center gap-2 mt-3" for="email_notifications">
      <input
        type="checkbox"
        class="checkbox checkbox-primary"
        {%
        if
        options.register.email_notifications
        %}checked{%
        endif
        %}
        name="email_notifications"
      />
      <span class="text-sm">{{ t(key="auth-register-checkbox-updates", lang=lang) }}</span>
    </label>
    <label class="cursor-pointer flex items-center gap-2 mt-3" for="marketing">
      <input
        type="checkbox"
        class="checkbox checkbox-primary"
        {%
        if
        options.register.marketing
        %}checked{%
        endif
        %}
        name="marketing"
      />
      <span class="text-sm">{{ t(key="auth-register-checkbox-offers", lang=lang) }}</span>
    </label>

    <input type="hidden" name="theme_preference" i />
    <input type="hidden" value="en-US" name="language" />
    <input type="text" class="hidden" name="plan_id" value="{{pricing.pid}}" required />

    <div class="mt-4 flex items-center justify-between">
      <p class="mt-4 text-sm">
        {{ t(key="auth-register-terms-prefix", lang=lang) }}
        <a
          href="{{ options.website.website_routes.policy.terms | safe }}"
          target="_blank"
          class="text-primary"
          >{{ t(key="auth-register-terms-link", lang=lang) }}</a
        >
        {{ t(key="auth-register-terms-separator", lang=lang) }}
        <a
          href="{{ options.website.website_routes.policy.privacy | safe }}"
          target="_blank"
          class="text-primary"
          >{{ t(key="auth-register-privacy-link", lang=lang) }}</a
        >.
      </p>
    </div>
  </form>
  <p class="text-red-600 mt-2 text-center">{{ error_msg.general | default (value="")}}</p>

  <!-- Submit -->
  <button
    id="create-account-btn-{{pricing.plan_name}}"
    type="submit"
    form="signup-form-{{pricing.plan_name}}"
    class="btn btn-primary w-full mt-6"
  >
    Create Account
  </button>

  <!-- Divider -->
  <div class="divider">OR</div>

  <!-- Footer -->
  <div
    hx-get="{{ login_partial_link | safe }}"
    hx-swap="innerHTML"
    hx-target="#app"
    class="text-center text-sm cursor-pointer underline"
  >
    <p>{{ t(key="auth-register-login-prompt", lang=lang) }}</p>
  </div>
</div>
