<!-- prettier-ignore -->
{% set current_page = options.current_page %}
{% set training_model_partial_link = options.website.website_routes.dashboard_routes.sidebar.training_models_partial %}
{% set training_model_link = options.website.website_routes.dashboard_routes.sidebar.training_models %}
{% set packs_partial_link = options.website.website_routes.dashboard_routes.sidebar.packs_partial %}
{% set packs_link = options.website.website_routes.dashboard_routes.sidebar.packs %}
{% set studio_partial_link = options.website.website_routes.dashboard_routes.sidebar.photo_partial %}
{% set studio_link = options.website.website_routes.dashboard_routes.sidebar.photo %}
{% set studio_favorite_partial_link = options.website.website_routes.dashboard_routes.sidebar.album_favorite_partial %}
{% set studio_favorite_link = options.website.website_routes.dashboard_routes.sidebar.album_favorite %}
{% set studio_deleted_partial_link = options.website.website_routes.dashboard_routes.sidebar.album_deleted_partial %}
{% set studio_deleted_link = options.website.website_routes.dashboard_routes.sidebar.album_deleted %}
{% set features_partial_link = options.website.website_routes.dashboard_routes.sidebar.features_partial %}
{% set features_link = options.website.website_routes.dashboard_routes.sidebar.features %}
{% set billing_partial_link = options.website.website_routes.dashboard_routes.billing_partial %}
{% set billing_link = options.website.website_routes.dashboard_routes.billing %}
{% set settings_partial_link = options.website.website_routes.dashboard_routes.sidebar.settings_partial %}
{% set settings_link = options.website.website_routes.dashboard_routes.sidebar.settings %}
{% set logout_partial_link = options.website.website_routes.auth_routes.logout_partial %}
{% set login_link = options.website.website_routes.auth_routes.login %}
{% set video_link = options.website.website_routes.dashboard_routes.sidebar.video %}
{% set video_link_partial = options.website.website_routes.dashboard_routes.sidebar.video_partial %}

<aside
  class="hidden sm:flex flex-col items-center text-gray-700 shadow h-full mt-8"
  hx-ext="preload"
>
  <!-- Side Nav Bar-->
  <ul x-data="{ active: '{{ current_page }}' }" class="flex flex-col">
    <!-- Model Section -->
    <li
      class="text-base-content tooltip tooltip-right"
      data-tip='{{ t(key="sidebar-tooltip-replicas", lang=lang) }}'
      :class="active === 'models' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ training_model_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ training_model_link | safe }}"
        hx-swap="innerHTML"
        {#
        hx-indicator="#dashboard-loader-indicator"
        #}
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        @click="active = 'models'"
      >
        {% include "partials/svg/faces.html" %}
      </a>
    </li>
    <!-- Packs Section -->
    <li
      class="text-base-content tooltip tooltip-right"
      data-tip='{{ t(key="sidebar-tooltip-packs", lang=lang) }}'
      :class="active === 'packs' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ packs_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ packs_link | safe }}"
        hx-swap="innerHTML"
        {#
        hx-indicator="#dashboard-loader-indicator"
        #}
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        data-tip='{{ t(key="sidebar-tooltip-packs", lang=lang) }}'
        @click="active = 'packs'"
      >
        {% include "partials/svg/pack.html" %}
      </a>
    </li>
    <!-- Album Section -->
    <li
      class="text-base-content tooltip tooltip-right"
      data-tip='{{ t(key="sidebar-tooltip-album", lang=lang) }}'
      :class="active === 'album' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ studio_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        @click="active = 'album'"
      >
        {% include "partials/svg/album.html" %}
      </a>
    </li>
    <!-- Favorite Section -->
    <li
      class="text-base-content tooltip tooltip-right cursor-pointer"
      data-tip='{{ t(key="sidebar-tooltip-favorite", lang=lang) }}'
      :class="active === 'favorite' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ studio_favorite_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_favorite_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full text-base-content"
        @click="active = 'favorite'"
      >
        {% include "partials/svg/bookmark.html" %}
      </a>
    </li>
    <!-- Deleted Section -->
    <li
      class="text-base-content tooltip tooltip-right cursor-pointer"
      data-tip='{{ t(key="sidebar-tooltip-deleted", lang=lang) }}'
      :class="active === 'deleted' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ studio_deleted_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_deleted_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full text-base-content"
        @click="active = 'deleted'"
      >
        {% include "partials/svg/trash.html" %}
      </a>
    </li>
    <!-- Video Section -->
    <li
      class="text-base-content tooltip tooltip-right hidden"
      data-tip='{{ t(key="sidebar-tooltip-video-soon", lang=lang) }}'
      :class="active === 'videos' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ video_link_partial | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ video_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        @click="active = 'videos'"
      >
        {% include "partials/svg/video.html" %}
      </a>
    </li>
    <!-- Features Section -->
    <li
      class="text-base-content tooltip tooltip-right"
      data-tip='{{ t(key="sidebar-tooltip-features", lang=lang) }}'
      :class="active === 'features' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ features_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ features_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        @click="active = 'features'"
      >
        {% include "partials/svg/feedback.html" %}
      </a>
    </li>

    {#
    <!-- Todo Influencer Section -->
    <li
      class="relative text-base-content tooltip tooltip-right bg-gray-700 cursor-not-allowed opacity-50 z-10"
      data-tip='{{ t(key="sidebar-tooltip-influencer-soon", lang=lang) }}'
      aria-label='{{ t(key="sidebar-tooltip-influencer-soon", lang=lang) }}'
    >
      <div class="h-16 px-6 flex justify-center items-center w-full">
        {% include "partials/svg/influencer.html" %}
      </div>
      <span class="absolute top-3 right-3 h-2.5 w-2.5 rounded-full bg-gray-200"></span>
    </li>
    #}
    <!-- Order History Section -->
    <li
      class="text-base-content tooltip tooltip-right"
      data-tip='{{ t(key="sidebar-tooltip-order-history", lang=lang) }}'
      :class="active === 'billing' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ billing_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ billing_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        @click="active = 'billing'"
      >
        {% include "partials/svg/order_history.html" %}
      </a>
    </li>
    <!-- Settings Section -->
    <li
      class="tooltip tooltip-right text-base-content"
      data-tip='{{ t(key="sidebar-tooltip-packs", lang=lang) }}'
      :class="active === 'settings' ? 'bg-base-300' : 'hover:bg-base-300'"
    >
      <a
        hx-get="{{ settings_partial_link | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ settings_link | safe }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        data-tip='{{ t(key="sidebar-tooltip-settings", lang=lang) }}'
        @click="active = 'settings'"
      >
        {% include "partials/svg/settings.html" %}
      </a>
    </li>
  </ul>

  <!-- Bottom Items Section -->
  <div class="mt-auto h-24 flex flex-col items-center w-full">
    <!-- Logout Section -->
    <div
      hx-get="{{ logout_partial_link | safe }}"
      hx-target="#app"
      hx-push-url="{{ login_link | safe }}"
      hx-swap="innerHTML"
      preload="mouseover"
      class="h-16 w-full mx-auto flex items-center justify-center hover:bg-red-200 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
      data-tip='{{ t(key="sidebar-tooltip-logout", lang=lang) }}'
    >
      {% include "partials/svg/logout.html" %}
    </div>
  </div>
</aside>
