<!-- prettier-ignore -->
{% set training_model_partial_link = website.website_routes.dashboard_routes.sidebar.training_models_partial  | safe %}
{% set training_model_link = website.website_routes.dashboard_routes.sidebar.training_models  | safe %}
{% set packs_partial_link = website.website_routes.dashboard_routes.sidebar.packs_partial  | safe %}
{% set packs_link = website.website_routes.dashboard_routes.sidebar.packs  | safe %}
{% set studio_partial_link = website.website_routes.dashboard_routes.sidebar.photo_partial  | safe %}
{% set studio_link = website.website_routes.dashboard_routes.sidebar.photo  | safe %}
{% set studio_favorite_partial_link = website.website_routes.dashboard_routes.sidebar.album_favorite_partial  | safe %}
{% set studio_favorite_link = website.website_routes.dashboard_routes.sidebar.album_favorite  | safe %}
{% set studio_deleted_partial_link = website.website_routes.dashboard_routes.sidebar.album_deleted_partial  | safe %}
{% set studio_deleted_link = website.website_routes.dashboard_routes.sidebar.album_deleted  | safe %}
{% set features_partial_link = website.website_routes.dashboard_routes.sidebar.features_partial  | safe %}
{% set features_link = website.website_routes.dashboard_routes.sidebar.features  | safe %}
{% set billing_partial_link = website.website_routes.dashboard_routes.billing_partial  | safe %}
{% set billing_link = website.website_routes.dashboard_routes.billing  | safe %}
{% set settings_partial_link = website.website_routes.dashboard_routes.sidebar.settings_partial  | safe %}
{% set settings_link = website.website_routes.dashboard_routes.sidebar.settings  | safe %}
{% set logout_partial_link = website.website_routes.auth_routes.logout_partial  | safe %}
{% set login_link = website.website_routes.auth_routes.login | safe %}

<aside class="flex flex-col items-center text-gray-700 shadow h-full mt-8" hx-ext="preload">
  <!-- Side Nav Bar-->
  <ul class="flex flex-col">
    <!-- Top Items Section -->

    <!-- Model Section -->
    <li class="hover:bg-base-300 tooltip tooltip-right" data-tip="Model">
      <a
        hx-get="{{ training_model_partial_link }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ training_model_link }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        data-tip="Models"
      >
        {% include "partials/svg/faces.html" %}
      </a>
    </li>
    <!-- Packs Section -->
    <li class="hover:bg-base-300 tooltip tooltip-right" data-tip="Packs">
      <a
        hx-get="{{ packs_partial_link }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ packs_link }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        data-tip="Packs"
      >
        {% include "partials/svg/pack.html" %}
      </a>
    </li>
    <!-- Album Section -->
    <li class="hover:bg-base-300 tooltip tooltip-right" data-tip="Album">
      <a
        hx-get="{{ studio_partial_link }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_link }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full cursor-pointer"
        data-tip="Album"
      >
        {% include "partials/svg/album.html" %}
      </a>
    </li>
    <!-- Favorite Section -->
    <li class="hover:bg-base-300 tooltip tooltip-right cursor-pointer" data-tip="Favorite">
      <a
        hx-get="{{ studio_favorite_partial_link }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_favorite_link }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 px-6 flex justify-center items-center w-full text-base-content"
        data-tip="Favorites"
      >
        {% include "partials/svg/bookmark.html" %}
      </a>
    </li>
    <!-- Deleted Section -->
    <li class="hover:bg-base-300 tooltip tooltip-right cursor-pointer" data-tip="Deleted">
      <a
        hx-get="{{ studio_deleted_partial_link }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_deleted_link }}"
        hx-swap="innerHTML"
        preload="mouseover"
        class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
        data-tip="Deleted"
      >
        {% include "partials/svg/trash.html" %}
      </a>
    </li>
    <!-- Features Section -->
    <li
      hx-get="{{ features_partial_link }}"
      hx-target="#dashboard_content"
      hx-push-url="{{ features_link }}"
      hx-swap="innerHTML"
      preload="mouseover"
      class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
      data-tip="Features"
    >
      {% include "partials/svg/feedback.html" %}
    </li>
    <!-- Order History Section -->
    <li
      hx-get="{{ billing_partial_link}}"
      hx-target="#dashboard_content"
      hx-push-url="{{ billing_link }}"
      hx-swap="innerHTML"
      preload="mouseover"
      class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
      data-tip="Order History"
    >
      {% include "partials/svg/order_history.html" %}
    </li>
    <!-- Settings Section -->
    <li
      hx-get="{{ settings_partial_link }}"
      hx-target="#dashboard_content"
      hx-push-url="{{ settings_link }}"
      hx-swap="innerHTML"
      preload="mouseover"
      class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
      data-tip="Settings"
    >
      {% include "partials/svg/settings.html" %}
    </li>
    {#
    <!-- Notification Section -->
    <li
      class="hover:bg-base-300 relative tooltip tooltip-right cursor-pointer"
      data-tip="Notifications"
    >
      <a
        hx-get="{{ website.website_routes.dashboard_routes.sidebar.notifications_partial | safe }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ website.website_routes.dashboard_routes.sidebar.notifications | safe }}"
        hx-swap="innerHTML"
        class="h-16 px-6 flex justify-center items-center w-full relative text-base-content"
      >
        {% include "partials/svg/bell.html" %}
      </a>
    </li>
    #}
  </ul>

  <!-- Bottom Items Section -->
  <div class="mt-auto h-24 flex flex-col items-center w-full">
    <!-- Logout Section -->
    <div
      hx-get="{{ logout_partial_link }}"
      hx-target="#app"
      hx-push-url="{{ login_link }}"
      hx-swap="innerHTML"
      preload="mouseover"
      class="h-16 w-full mx-auto flex items-center justify-center hover:bg-red-200 focus:outline-none cursor-pointer tooltip tooltip-right text-base-content"
      data-tip="Logout"
    >
      {% include "partials/svg/logout.html" %}
    </div>
  </div>
</aside>
