<!-- prettier-ignore -->
{% set home_link = website.website_routes.home.base | safe %}
{% set studio_link = website.website_routes.dashboard_routes.base | safe %}
{% set login_link = website.website_routes.auth_routes.login | safe %}
{% set register_link = website.website_routes.auth_routes.register | safe %}

<style>
  @media only screen and (min-width: 768px) {
    .parent:hover .child {
      opacity: 1;
      height: auto;
      overflow: none;
      transform: translateY(0);
    }
    .child {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transform: translateY(-10%);
    }
  }
</style>
<nav class="flex items-center justify-between px-4 py-2 md:shadow-lg relative z-20">
  <div class="hidden sm:flex w-full items-center justify-between">
    <!-- Start section (Logo/Brand) -->
    <div class="flex items-center flex-shrink-0">
      <a class="h-6 w-6 mr-2 sm:mr-0 mx-auto" href="{{ home_link }}">
        {% include "partials/svg/logo.html" %}
      </a>
      <a href="{{ home_link }}">
        <div class="hidden sm:block text-lg font-bold ml-4 cursor-pointer select-none">
          {{ website_name | default(value= "ReplicaPixel") }}
        </div>
      </a>
    </div>

    <!-- Middle section (Navigation links) -->
    <div
      id="navbar-middle"
      class="absolute hidden sm:block left-1/2 transform -translate-x-1/2 z-10 bg-base"
    >
      <!-- Search bar container (already centered) -->
      <div class="max-w-md mx-auto">
        <div
          class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-base overflow-hidden"
        >
          <div class="grid place-items-center h-full w-12 dark:text-white-300 text-base-content">
            {% include "partials/svg/search.html" %}
          </div>

          <input
            class="peer h-full w-full outline-none text-sm text-base-content placeholder:text-base-content/70 pr-2 bg-transparent"
            type="text"
            id="search"
            placeholder="Search something.."
          />
        </div>
      </div>
    </div>

    <!-- End section (User controls) -->
    <div class="flex items-center space-x-4">
      <div class="hidden sm:block">{% include "partials/parts/dark_mode_toggle.html" %}</div>
      {% include "dashboard/navbar/navbar_user_partial.html" %}
    </div>
  </div>
  <div class="w-full sm:hidden flex items-center justify-between">
    <a class="h-6 w-6" href="{{ home_link }}"> {% include "partials/svg/logo2.html" %} </a>
    <a
      href="/"
      hx-get="/partial/home"
      hx-swap="innerHTML"
      hx-push-url="/"
      hx-target="#app"
      onclick="sessionStorage.setItem('scrollTo', '#pricing')"
    >
      {% set timestamp = now() | date(format="%s%.f") %}
      <button
        id="shiningButton-{{ timestamp }}"
        class="relative flex flex-row gap-1 overflow-hidden px-2 sm:px-4 py-1 sm:py-2 font-semibold text-white bg-gradient-to-r from-violet-500 to-pink-500 rounded-lg shadow-md transition-all duration-150 hover:shadow-lg hover:brightness-110 active:scale-95 active:brightness-90 cursor-pointer"
      >
        <span class="hidden sm:flex">Buy</span>
        Credits
        <script>
          {
            const button = document.getElementById("shiningButton-{{ timestamp }}");
            if (button) {
              const shineAnimationDuration = 1000;
              const intervalDuration = 8000;
              function triggerShine() {
                if (!button.classList.contains("animate-shine-active")) {
                  button.classList.add("animate-shine-active");
                  setTimeout(() => {
                    button.classList.remove("animate-shine-active");
                  }, shineAnimationDuration);
                }
              }

              const shineInterval = setInterval(triggerShine, intervalDuration);
            } else {
              console.error("Button with id 'shiningButton' not found.");
            }
          }
        </script>
      </button>
    </a>
    <div class="inline-flex items-center hover:text-base-600 select-none">
      {% include "partials/svg/model_svg.html" %}
      <span id="user_model_credits" class="ml-1">{{ credits.model_amount }}</span>
    </div>
    <div class="inline-flex items-center hover:text-base-600 select-none">
      {% include "partials/svg/credit_svg.html" %}
      <span id="user_credits" class="ml-1">{{ credits.credit_amount }}</span>
    </div>
    {% include "partials/svg/mobile_menu.html" %}
  </div>
</nav>
