{% set login_partial_link = website.website_routes.auth_routes.login_partial %} {% set login_link =
website.website_routes.auth_routes.login %}

<div
  hx-get="{{ login_partial_link | safe }}"
  hx-swap="innerHTML"
  hx-push-url="{{ login_link | safe }}"
  hx-target="#app"
  hx-trigger="load delay:2s"
  class="flex flex-col items-center justify-center"
>
  <p class="text-xl text-center text-base-content">Password Reset Succesful!</p>
  <br />
  <p class="text-m text-base-content">
    Your password has been reset. You can now log in with your new password.
  </p>
  <a href="{{ login_link | safe }}" class="text-sm text-primary text-center mt-4">Back to Login</a>
</div>
