{% set password_reset_link = website.website_routes.auth_routes.api_password_reset %}

<div class="w-full max-w-xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="card w-full bg-base-100 shadow-xl">
    <div class="card-body p-6 sm:p-10">
      <div class="text-center mb-8">
        <h2 class="card-title text-2xl sm:text-3xl font-semibold justify-center">Password Reset</h2>
      </div>

      {% if error.password_reset or error.general %}
      <div class="alert alert-error shadow-md mb-6 text-sm">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-current flex-shrink-0 h-5 w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2 2m2-2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span>
            {% if error.password_reset %}{{ error.password_reset | safe }}<br />{% endif %} {% if
            error.general %}{{ error.general }}{% endif %}
          </span>
        </div>
      </div>
      {% endif %}

      <form
        id="password-reset-form"
        hx-post="{{ password_reset_link | safe }}/{{token}}"
        hx-ext="form-json"
        hx-swap="outerHTML"
        hx-disabled-elt="#add-pack-btn"
        class="space-y-6"
      >
        <div class="form-control">
          <label class="label" for="password">
            <span class="label-text text-base font-medium">Password</span>
          </label>
          <input
            type="password"
            id="password"
            name="password"
            maxlength="255"
            placeholder="Enter your new password"
            class="input input-bordered w-full placeholder-base-content/50"
            required
          />
        </div>

        <div class="form-control">
          <label class="label" for="confirm_password">
            <span class="label-text text-base font-medium">Confirm Password</span>
          </label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            maxlength="255"
            placeholder="Confirm your new password"
            class="input input-bordered w-full placeholder-base-content/50"
            required
          />
        </div>

        <div class="form-control hidden">
          <input
            type="email"
            id="email"
            name="email"
            value="{{ email |safe }}"
            placeholder="Your Email"
            class="input input-bordered w-full"
            required
          />
        </div>

        <div class="form-control pt-4">
          <button type="submit" class="btn btn-primary w-full text-base capitalize">
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
