<a
  href="/"
  hx-get="/partial/home"
  hx-swap="innerHTML"
  hx-push-url="/"
  hx-target="#app"
  onclick="sessionStorage.setItem('scrollTo', '#pricing')"
>
  {% set timestamp = now() | date(format="%s%.f") %}
  <button
    id="shiningButton-{{ timestamp }}"
    class="relative flex flex-row overflow-hidden px-4 py-2 font-semibold text-white bg-gradient-to-r from-violet-500 to-pink-500 rounded-lg shadow-md transition-all duration-150 hover:shadow-lg hover:brightness-110 active:scale-95 active:brightness-90 cursor-pointer"
  >
    <span class="hidden sm:block">Buy</span>
    Credits
    <script>
      shiningBtn("shiningButton-{{ timestamp }}");
    </script>
  </button>
</a>
