<a href="#pricing">
  {% set timestamp = now() | date(format="%s%.f") %}
  <button
    id="shiningButton-{{ timestamp }}"
    class="relative flex flex-row items-center lg:gap-4 p-2 lg:p-3 lg:px-6 my-[-0.5rem] lg:my-[-1rem] overflow-hidden rounded-full font-semibold text-white shadow-md transition-all duration-150 bg-gradient-to-r from-[var(--color-grn-from)] to-[var(--color-grn-to)] hover:shadow-lg hover:brightness-110 active:scale-95 active:brightness-90 cursor-pointer"
  >
    Try Now {% include "partials/svg/triple_stars.html" %}
  </button>
  <script>
    shiningBtn("shiningButton-{{ timestamp }}");
  </script>
</a>
