<!-- prettier-ignore -->
{% set timestamp = now() | date(format="%s%.f") %} 
{% set studio_link = website.website_routes.dashboard_routes.base | safe %}
{% set checkout_prepare_link = website.website_routes.payment.payment_prepare_route | safe %}
{% set google_ott_link = website.website_routes.oauth2.google_ott | safe %}
{% set google_client_id = website.website_basic_info.google.google_client_id | safe %}

<script>
  // Google login logic
  window.onload = function () {
    google.accounts.id.initialize({
      client_id: "{{google_client_id}}",
      callback: handleCredentialResponse,
      auto_select: false,
    });
    google.accounts.id.prompt();
  };

  async function handleCredentialResponse(response) {
    const res = await fetch("{{ google_ott_link | safe }}", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ token: response.credential }),
      credentials: "include",
    });
    const html = await res.text();
    window.htmx.swap("#cta-home-navbar-btn", html, { swapStyle: "outerHTML" });

    if (window.Alpine) {
      Alpine.store("toast").success("You have been logged in!");
    }
  }
</script>
