<!-- prettier-ignore -->
{% set studio_link = website.website_routes.dashboard_routes.base | safe %}
{% set checkout_prepare_link = website.website_routes.payment.payment_prepare_route | safe %}

{# Change cta in nav button #}
{% include "partials/parts/validated/cta_home_navbar_btn.html" %}

{# login button #}
{% include "partials/parts/validated/validate_login_btn.html" %}

{# Change pricing plans button #} 
{% include "partials/parts/validated/pricing_basic_btn.html" %}

{% include "partials/parts/validated/pricing_premium_btn.html" %}

{% include "partials/parts/validated/pricing_max_btn.html" %}
