<!-- Dashboard Content Section -->
<div class="flex flex-1 overflow-y-auto px-4">
  <!-- Gallery Content -->
  {% if images|length > 0 %}
  <div id="drive-gallery" class="grid grid-cols-2 md:grid-cols-6 gap-4 w-full self-start">
    <!-- Image Partial -->
    {% include "dashboard/content/photo/image_partial.html" %}
  </div>
  {% else %}
  <div id="no-images" class="flex flex-col mx-auto items-center justify-center min-h-screen">
    <p class="text-gray-500 text-lg">No images available. Create some to get started!</p>
    {% include "partials/svg/ghost.html" %}
  </div>
  {% endif %}
  <div class="relative">
    {% if not is_favorite and not is_deleted and credits.credit_amount > 0 %} {% include
    "dashboard/content/photo/create_image_partial.html" %}
  </div>
</div>
{% endif %} {% block js %}
<script>
  async function uploadImageFromUrlToS3(imageUrl, presignedUrl, notifyBackendUrl) {
    try {
      const imageResponse = await fetch(imageUrl);
      if (!imageResponse.ok) throw new Error("Failed to fetch image from source");
      const blob = await imageResponse.blob();
      const s3Upload = await fetch(presignedUrl, {
        method: "PUT",
        body: blob,
        headers: {
          "Content-Type": blob.type,
        },
      });
      if (!s3Upload.ok) throw new Error("Failed to upload to S3");
      const backendNotify = await fetch(notifyBackendUrl, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ uploaded: true, source: imageUrl }),
      });
      if (!backendNotify.ok) throw new Error("Failed to notify backend");
      console.log("✅ Upload and notification successful");
    } catch (err) {
      console.error("❌ Upload failed", err);
    }
  }

  async function downloadImage(url, filename) {
    const response = await fetch(url, { mode: "cors" });
    const blob = await response.blob();
    const blobUrl = window.URL.createObjectURL(blob);

    const link = document.createElement("a");
    link.href = blobUrl;
    link.download = filename;
    link.click();

    window.URL.revokeObjectURL(blobUrl);
  }
</script>
{% endblock js %}
