<!-- prettier-ignore -->
{% set lang = options.language %}
{% set is_favorite = options.is_favorite %}
{% set is_deleted = options.is_deleted %}
{% set is_image_gen = options.is_image_gen %}
{% set credits = options.user_credits %}
{% set images = options.images %}

{% for image in images %}
{% if image.image_status == "Completed" %}
  {% include "dashboard/content/photo/cards/card_completed.html" %}

{% elif image.image_status == "Processing" %}
  {% include "dashboard/content/photo/cards/card_processing.html" %}

{% elif image.image_status == "Failed" %}
  {% include "dashboard/content/photo/cards/card_failed.html" %}

{% else %}
  {% include "dashboard/content/photo/cards/card_loading.html" %}
  
{% endif %}
{% endfor %}
