{% if user or is_ott %}
<li id="nav-auth" class="close-menu-buttons" {% if is_ott %} hx-swap-oob="true" {% endif %}>
  <a
    href="{{ logout_api_link | safe }}"
    hx-get="{{ logout_partial_link }}"
    hx-target="#app"
    hx-push-url="{{ login_link }}"
    hx-swap="innerHTML"
  >
    {{ t(key="nav-button-logout", lang=lang) }}
  </a>
</li>
{% else %}
<li id="nav-auth" class="close-menu-buttons">
  <a
    href="{{login_link | safe}}"
    hx-get="{{ login_partial_link | safe }}"
    hx-target="#app"
    hx-push-url="{{ login_link | safe }}"
    hx-swap="innerHTML"
    >{{ t(key="nav-button-login", lang=lang) }}</a
  >
</li>
{% endif %}
