<!-- prettier-ignore -->
{% set home_link = website.website_routes.home.base %}
{% set login_link = website.website_routes.auth_routes.login %}
{% set register_link = website.website_routes.auth_routes.register %}
{% set training_model_partial_link = website.website_routes.dashboard_routes.sidebar.training_models_partial %}
{% set training_model_link = website.website_routes.dashboard_routes.sidebar.training_models %}
{% set packs_partial_link = website.website_routes.dashboard_routes.sidebar.packs_partial %}
{% set packs_link = website.website_routes.dashboard_routes.sidebar.packs %}
{% set studio_partial_link = website.website_routes.dashboard_routes.sidebar.photo_partial %}
{% set studio_link = website.website_routes.dashboard_routes.sidebar.photo %}
{% set studio_favorite_partial_link = website.website_routes.dashboard_routes.sidebar.album_favorite_partial %}
{% set studio_favorite_link = website.website_routes.dashboard_routes.sidebar.album_favorite %}
{% set studio_deleted_partial_link = website.website_routes.dashboard_routes.sidebar.album_deleted_partial %}
{% set studio_deleted_link = website.website_routes.dashboard_routes.sidebar.album_deleted %}
{% set features_partial_link = website.website_routes.dashboard_routes.sidebar.features_partial %}
{% set features_link = website.website_routes.dashboard_routes.sidebar.features %}
{% set billing_partial_link = website.website_routes.dashboard_routes.billing_partial %}
{% set billing_link = website.website_routes.dashboard_routes.billing %}
{% set settings_partial_link = website.website_routes.dashboard_routes.sidebar.settings_partial %}
{% set settings_link = website.website_routes.dashboard_routes.sidebar.settings %}
{% set logout_partial_link = website.website_routes.auth_routes.logout_partial %}
{% set login_link = website.website_routes.auth_routes.login %}

<ul>
  <li
    hx-get="{{ training_model_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ training_model_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Models"
  >
    {% include "partials/svg/faces.html" %}
  </li>
  <!-- Packs Section -->
  <li
    hx-get="{{ packs_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ packs_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Packs"
  >
    {% include "partials/svg/pack.html" %}
  </li>
  <!-- Album Section -->
  <li
    hx-get="{{ studio_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ studio_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Album"
  >
    {% include "partials/svg/album.html" %}
  </li>
  <!-- Favorite Section -->
  <li
    hx-get="{{ studio_favorite_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ studio_favorite_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Favorite"
  >
    {% include "partials/svg/bookmark.html" %}
  </li>
  <!-- Deleted Section -->
  <li
    hx-get="{{ studio_deleted_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ studio_deleted_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Deleted"
  >
    {% include "partials/svg/trash.html" %}
  </li>
  <!-- Features Section -->
  <li
    hx-get="{{ features_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ features_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Features"
  >
    {% include "partials/svg/feedback.html" %}
  </li>
  <!-- Order History Section -->
  <li
    hx-get="{{ billing_partial_link  | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ billing_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Order History"
  >
    {% include "partials/svg/order_history.html" %}
  </li>
  <!-- Settings Section -->
  <li
    hx-get="{{ settings_partial_link | safe }}"
    hx-target="#dashboard_content"
    hx-push-url="{{ settings_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-base-300 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Settings"
  >
    {% include "partials/svg/settings.html" %}
  </li>
  <!-- Settings Section -->
  <li
    hx-get="{{ logout_partial_link | safe }}"
    hx-target="#app"
    hx-push-url="{{ login_link | safe }}"
    hx-swap="innerHTML"
    preload="mouseover"
    class="h-16 w-full mx-auto flex items-center justify-center hover:bg-red-200 focus:outline-none cursor-pointer tooltip tooltip-left z-22 text-base-content"
    data-tip="Logout"
  >
    {% include "partials/svg/logout.html" %}
  </li>
</ul>
