<!-- prettier-ignore -->
{% set studio_partial_link = website.website_routes.dashboard_routes.sidebar.photo_partial | safe %}
{% set studio_link = website.website_routes.dashboard_routes.sidebar.photo | safe %}
{% set pack_link = website.website_routes.packs_routes.gen_pack | safe %}

<div
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
>
  {% for pack in packs %}
  <!-- Pack - Starts Here -->
  <div
    class="w-72 bg-base-100 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
    onclick="document.getElementById('{{ pack.pid }}').showModal()"
  >
    <a href="#">
      <img src="{{ pack.image_url }}" alt="pack" class="h-80 w-72 object-cover rounded-t-xl" />
      <div class="px-4 py-3 w-72">
        <p class="text-lg text-center font-bold truncate block capitalize">{{ pack.title }}</p>
        <p>{{ pack.description }}</p>
        <div class="flex items-center justify-between">
          <span class="text-gray-400 mr-3 uppercase text-xs"> {{ pack.amount }} Photos </span>
          <div class="flex items-center justify-center">
            <span> {% include "partials/svg/credit_svg.html" %} </span>
            <span class="text-gray-700 mr-3 uppercase text-xs"> {{ pack.credits }} </span>
          </div>
        </div>
        <div class="ml-auto"></div>
      </div>
    </a>
  </div>
  <dialog id="{{ pack.pid }}" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Hello!</h3>
      <p class="py-4">Press ESC key or click the button below to close</p>
      <form
        id="form-{{ pack.pid }}"
        hx-post="{{ pack_link }}/{{ pack.pid }}"
        hx-target="#dashboard_content"
        hx-push-url="{{ studio_link }}"
        hx-swap="innerHTML"
        hx-ext="form-json"
        hx-disabled-elt="#form-{{ pack.pid }}"
        class="mt-6"
      >
        <div>
          <label for="image_size" class="block text-xs mb-1 text-base-content/70">Image Size</label>
          <select
            id="image_size"
            name="image_size"
            class="select select-bordered select-sm w-full bg-base-100"
          >
            {% for image_size in website.website_fields.image_sizes %} {% if not loop.last %}
            <option value="{{ image_size.0 }}">{{ image_size.1 }}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
        <div>
          <label for="image_size" class="block text-xs mb-1 text-base-content/70">Image Size</label>
          <select
            id="model_pid"
            name="model_pid"
            class="select select-bordered select-sm w-full bg-base-100"
          >
            {% for training in models %} {% if not loop.last %}
            <option value="{{ training.pid }}">{{ training.name }}</option>
            {% endif %} {% endfor %}
          </select>
        </div>
      </form>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn" type="submit" form="form-{{ pack.pid }}">Yes</button>
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
  {% endfor %}
</div>
