<!-- prettier-ignore -->
{% set pack_link = options.website.website_routes.packs_routes.gen_pack %}
{% set models = options.training_models%}
{% set lang = options.language %}
{% set image_sizes = options.website.website_fields.image_sizes%}
{% set studio_partial_link = options.website.website_routes.dashboard_routes.sidebar.photo_partial %}
{% set studio_link = options.website.website_routes.dashboard_routes.sidebar.photo %}

<div
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
>
  {% include "dashboard/content/packs/pack_router.html" %}

  <!-- -->
  {% if not options.is_infinite %}{% include "dashboard/content/packs/pack_dialog.html" %}{% endif
  %}
  <script>
    updatePageTitle("{{ t(key='packs-page-title', lang=lang) }}");
    function changeImage(id, src) {
      document.getElementById(id).src = src;
    }
  </script>
</div>
