{% extends "base.html" %} {% block title %}ReplicaPixel | Homepage {% endblock title %} {% block
content %}

<div class="bg-[#191e24] h-[7606px] relative overflow-hidden">
  <div
    class="rounded-[50%] w-[407.01px] h-[407.01px] absolute left-[1087.59px] top-[6772.53px]"
    style="
      background: linear-gradient(180deg, rgba(255, 123, 202, 1) 0%, rgba(96, 93, 255, 1) 100%);
      transform-origin: 0 0;
      transform: rotate(136.069deg) scale(1, 1);
      filter: blur(127.58px);
    "
  ></div>
  <div
    class="rounded-[50%] w-[297.81px] h-[297.81px] absolute left-[1077.85px] top-[7043.51px]"
    style="
      background: linear-gradient(
        180deg,
        rgba(242, 47, 176, 1) 0%,
        rgba(96, 93, 255, 1) 100%,
        rgba(112, 97, 163, 1) 100%
      );
      transform-origin: 0 0;
      transform: rotate(113.869deg) scale(1, 1);
      filter: blur(63.79px);
    "
  ></div>
  <div
    class="rounded-[50%] w-[407.01px] h-[407.01px] absolute left-[1087.2px] top-[583.11px]"
    style="
      background: linear-gradient(180deg, rgba(244, 48, 152, 1) 0%, rgba(96, 93, 255, 1) 100%);
      transform-origin: 0 0;
      transform: rotate(138.178deg) scale(1, 1);
      filter: blur(127.58px);
    "
  ></div>
  <div
    class="rounded-[50%] w-[297.81px] h-[297.81px] absolute left-[1040.12px] top-[584.03px]"
    style="
      background: linear-gradient(
        180deg,
        rgba(242, 47, 176, 1) 0%,
        rgba(96, 93, 255, 1) 100%,
        rgba(112, 97, 163, 1) 100%
      );
      transform-origin: 0 0;
      transform: rotate(113.869deg) scale(1, 1);
      filter: blur(63.79px);
    "
  ></div>

  <!-- Navbar -->
  {% block navbar %}{% endblock navbar %}

  <!-- Hero -->
  {% include "home/sections/header.html" %}

  <!-- Hero -->
  {% include "home/sections/hero.html" %}

  <!-- Businesses -->
  {% include "home/sections/businesses.html" %}

  <!-- Pro Head shots -->
  {% include "home/sections/pro_head_shot.html" %}

  <!-- Instant Styles -->
  {% include "home/sections/instant_styles.html" %}

  <!-- Gallery -->
  {% include "home/sections/gallery.html" %}

  <!-- Payment Plans -->
  {% include "home/sections/payment_plans.html" %}

  <!-- Creators Review -->
  {% include "home/sections/creators_review.html" %}

  <!-- Call to Action -->
  {% include "home/sections/cta.html" %}

  <!-- Creators -->
  {% include "home/sections/creators.html" %}

  <!-- Footer -->
  {% include "home/sections/footer.html" %}

  <!-- End -->
  {% endblock content %}
</div>
